.svn
*.pyc
flash.db
django-server.log
.idea
.vagrant
/harvardcards/modules/flashcard-exporter/cache/*
/harvardcards/apps/flash/uploads/*
/logs/*
!/logs/empty
/config/my.cnf
/config/django_secret.txt
/config/lti_oauth_credentials.txt
/NO_SYNC_DB.flag
