.svn
*.env
*.pyc
flash.db
django-server.log
.idea
.vagrant
/modules/flashcard-exporter/cache/*
/uploads/*
/logs/*
!/logs/empty
/config/my.cnf
/config/django_secret.txt
/config/lti_oauth_credentials.txt
/NO_SYNC_DB.flag
/pyenv
