Django==1.5.1

# For migrations
South==0.8.4

# For openid authentication
python-openid==2.2.5
django-openid-auth==0.5

# For reading/writing excel files
xlrd==0.9.2
xlwt==0.7.5

# For debugging (dev only)
django-debug-toolbar==0.11
