<div class="editFields">
    <h2>Card front</h2>
    {% for field in card_fields.show %}
        {% include "decks/_deck_card_form_field.html" with field=field %}
    {% endfor %}
</div>
<div class="hideRevealHr"></div>
<div class="editFields">
    <h2>Card back</h2>
    {% for field in card_fields.reveal %}
        {% include "decks/_deck_card_form_field.html" with field=field %}
    {% endfor %}
</div>
<div class="editFields">
    <h2>Card attributes</h2>
    <fieldset>
        <label>Card color</label>
        {{card_color_select}}
        <div class="field-error field-error-card_color" style="display:none"></div>
    </fieldset>