{% if field.type == 'T' %}
    <i class="fa fa-font fa-2x pull-left"></i>
{% elif field.type == 'I' %}
    <i class="fa fa-picture-o fa-2x pull-left"></i>
{% elif field.type == 'V' %}
    <i class="fa fa-film fa-2x pull-left"></i>
{% elif field.type == 'A' %}
    <i class="fa fa-microphone fa-2x pull-left"></i>
{% endif %}
<fieldset>
    {% if field.type == 'I' %}
        {% if field.value == '' %}
            <label for="{{field.label}}">{{field.label}}</label>
        {% else %}
            <img src="{{MEDIA_URL}}store/thumb-large/{{field.value}}" alt="{{field.label}}" class="cardFieldImage"/>
            <div>
                <a href="{{MEDIA_URL}}store/original/{{field.value}}" target="_blank">
                    <i class="fa fa-external-link"></i>
                    <span class="control-text">View Full Size Image</span>
                </a>
            </div>
        {% endif %}
        <fieldset>
            <label>File Type</label>
            <select name="field_{{field.id}}_source" data-switch="yes" data-switch-url="field_{{field.id}}_image_url" data-switch-file="field_{{field.id}}">
                <option value="F">File</option>
                <option value="U">URL</option>
            </select>
        </fieldset>
        <input name="field_{{field.id}}_image_url"  type="text" placeholder="Enter {{field.label}} URL" style="display:none" />
        <input name="field_{{field.id}}"  type="file" placeholder="Enter {{field.label}}" style="display:block"/>
    {% elif field.type == 'T' %} 
        <label for="{{field.label}}">{{field.label}}</label>
        <input name="field_{{field.id}}" class="formEle form" type="text" placeholder="Enter {{field.label|lower}}" value="{{field.value}}" />
    {% elif  field.type == 'V' %} 
        <label for="{{field.label}}">{{field.label}}</label>
        <input name="field_{{field.id}}" class="formEle form" type="text" placeholder="Enter URL to video file (*.mp4)" value="{{field.value}}" />
    {% elif field.type == 'A' %}
        <label for="{{field.label}}">{{field.label}}</label>
        <input name="field_{{field.id}}" class="formEle form" type="text" placeholder="Enter URL to audio file (*.mp3, *.ogg)" value="{{field.value}}" />
    {% else %}
        <b>ERROR - FIELD TYPE NOT SUPPORTED: {{field.type}}</b>
    {% endif %}
    <div class="field-error field-error-field_{{field.id}}" style="display:none"></div>
</fieldset>
