{% if field.type == 'T' %}
    <i class="fa fa-font fa-2x pull-left"></i>
{% elif field.type == 'I' %}
    <i class="fa fa-picture-o fa-2x pull-left"></i>
{% elif field.type == 'V' %}
    <i class="fa fa-film fa-2x pull-left"></i>
{% elif field.type == 'A' %}
    <i class="fa fa-microphone fa-2x pull-left"></i>
{% endif %}
<fieldset>
    {% if field.type == 'I' %}
        {% if field.value == '' %}
            <label for="{{field.label}}">{{field.label}}</label>
        {% else %}
            <img src="{{MEDIA_URL}}thumbnails/{{field.value}}" alt="{{field.label}}" class="cardFieldImage"/>
            <div>
                <a href="{{MEDIA_URL}}originals/{{field.value}}" target="_blank">
                    <i class="fa fa-external-link"></i>
                    <span class="control-text">View Full Size Image</span>
                </a>
            </div>
        {% endif %}
        <fieldset>
            <label>File Type</label>
            {{upload_type_select}}
        </fieldset>
        <input id="url_upload_type" name="image_url"  type="text" placeholder="Enter {{field.label}} URL" style="display:none" />
        <input id="file_upload_type" name="field_{{field.id}}"  type="file" placeholder="Enter {{field.label}}" style="display:block"/>
    {% elif field.type == 'T' or field.type == 'V' or field.type == 'A' %}
        <label for="{{field.label}}">{{field.label}}</label>
        <input name="field_{{field.id}}" class="formEle form" type="text" placeholder="Enter {{field.label}}" value="{{field.value}}" />
	{% else %}
		<b>ERROR - FIELD TYPE NOT SUPPORTED: {{field.type}}</b>
    {% endif %}
    <div class="field-error field-error-field_{{field.id}}" style="display:none"></div>
</fieldset>
