{% extends "__layout_left_sidebar.html" %}

{% block sidebar_content %}
	{% include "_deck_nav.html" with collections=collections collection=collection deck=deck %}
{% endblock %}

{% block main_content %}
<div id="content" data-module="edit_card">
    <div class="courseWrapper">
        <div class="courseHeader">
            <h2>Edit card</h2>
        </div>
        <form id="cardForm" action="{% url 'deckEditCard' deck.id %}" method="post" enctype="multipart/form-data">
            <div class="formMessage" style="text-align:left;margin:0 0 1em 0; display:none;"></div>
            {% csrf_token %}
            <input type="hidden" name="card_id" value="{{card_id}}" />

            {% include "decks/_deck_card_form.html" with card_fields=card_fields %}
            <input class="adminMenuBtn saveBtn" type="submit" value="Submit" />
            <a href="{% url 'deckIndex' deck.id %}" class="adminMenuBtn cancelBtn">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
