{% extends "__layout_left_sidebar.html" %}

{% block sidebar_content %}
	{% include "_deck_nav.html" with collections=collections collection=collection deck=deck %}
{% endblock %}

{% block main_content %}
<div id="content">
    <div class="courseWrapper">
        <div class="courseHeader">
            <h2>Edit card</h2>
        </div>
        <form action="{% url 'deckEditCard' deck.id %}" method="post">{% csrf_token %}
            <input type="hidden" name="card_id" value="{{card_id}}" />
            {% include "decks/_deck_card_form.html" with card_fields=card_fields %}
            <input class="adminMenuBtn saveBtn" type="submit" value="Submit" />
            <a href="{% url 'deckIndex' deck.id %}" class="adminMenuBtn cancelBtn">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
