{% extends "__layout_left_sidebar.html" %}

{% block sidebar_content %}
    {% include "_deck_nav.html" with nav_collections=nav_collections active_collection=collection active_deck=deck %}
{% endblock %}

{% block breadcrumbs %}
<li><i class="fa fa-angle-right"></i><a href="{% url 'collectionIndex' collection.id %}">{{ collection.title }}</a></li>
<li><i class="fa fa-angle-right"></i><span><a href="{% url 'deckIndex' deck.id %}">{{deck.title}}</a></li>
{% endblock %}


{% block main_content %}
<div id="content" data-module="edit-card">
    <div class="courseWrapper">
        <div class="courseHeader">
            <h2>Edit card</h2>
        </div>
        <form id="cardForm" action="{% url 'apiCardEdit' %}?is_all_cards={{is_all_cards}}&deck_id={{deck.id}}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="card_id" value="{{card_id}}" />
            <input type="hidden" name="deck_id" value="{{deck.id}}" />

            <div class="formMessage error" style="display:none"></div>

            {% include "decks/_deck_card_form.html" with card_fields=card_fields %}

            <input class="adminMenuBtn saveBtn" type="submit" value="Submit" />
            {% if is_all_cards == 1 %}
            <a href="{% url 'allCards' deck.collection.id %}?card_id={{card_id}}" class="adminMenuBtn cancelBtn">Cancel</a>
            {% else %}
            <a href="{% url 'deckIndex' deck.id %}?card_id={{card_id}}" class="adminMenuBtn cancelBtn">Cancel</a>
            {% endif %}
            <div class="formMessage error" style="display:none"></div>
        </form>
    </div>
</div>
{% endblock %}
