{% extends "base.html" %}

{% block content %}
<style>
.deck-index {
	padding-top: 20px;
	padding-bottom: 20px;
}
.collection-nav {
	border: solid black 1px;
}
.myborder {
	border: dashed black 2px;
}
.collection-home-link {
	background-color: #DDD;
}
.collection-nav ul li:hover {
	background-color: #CCC;
	cursor: pointer;
}
.collection-link {
	
}
.active-collection {
	font-weight: bold;
}
.active-deck {
	font-weight: bold;
}

.deck-link {
	padding-left: 10px;
}

.deck-menu {
	padding: 5px;
}

#add-card-btn {
	position: relative;
	top: 40px;
	margin-right: 5px;
}
.add-card-btn {
	border: dashed black 2px;
	cursor: pointer;
}

.card-carousel {
	width: 100%;
	height: 100px;
	padding-top: 10px;
	
}
.card-carousel ul {
    white-space: nowrap;
    overflow-x: auto;
}

.carousel-card {
	width: 100px;
	height: 100px;
	background-color: #EEE;
}

.active-carousel-card {
	background-color: #777;
}

.card-container {
	padding: 10px;
}
.card-main {
	width: 600px;
	background-color: #EEE;
	margin: 0 auto;
}

.field-template {
	padding-top: 10px;
	width: 100%;
}
.display {
	
}
.reveal {
	
}
.hide-bar {
	height: 25px;
	width: 100%;
	background-color: #000;
}

</style>


<div class="deck-index row-fluid">
	<nav class="collection-nav span2">
		<ul class="unstyled">
			<li class="collection-home-link">Home</li>
			{% for c in collections %}
			<li class="collection-link" data-id="{{c.id}}">{{c.title}}</li>
				{% if c.id == collection.id %}
					{% for d in c.deck_set.all %}
					<li class="deck-link" data-id="{{d.id}}">{{d.title}}</li>
					{% endfor %}
				{% endif %}
			{% endfor %}
		</ul>
	</nav>
	<div class="deck-main span10">
		<div class="deck-menu">
			
			<div class="deck-title-text">{{deck.title}}</div>
			
		</div>
		<div class="card-carousel-container">
			<div style="width:100%; height:120px" class="card-carousel">
				<ul class="unstyled inline" style="display:inline">
					<li class="carousel-card add-card-btn">Add Card</li>
				</ul>
				
				<ul class="unstyled inline" style="display:inline">
					{% if deck_cards %}
					<li class="carousel-card"></li>
					<li class="carousel-card active-carousel-card"></li>
					<li class="carousel-card"></li>
					<li class="carousel-card"></li>
					<li class="carousel-card"></li>
					<li class="carousel-card"></li>
					<li class="carousel-card"></li>
					<li class="carousel-card"></li>
					<li class="carousel-card"></li>
					<li class="carousel-card"></li>
					<li class="carousel-card"></li>
					{% else %}
					<li class="carousel-card no-cards">No cards</li>
					{% endif %}
				</ul>
			</div>
		</div>
		<div class="card-container">
			<div class="card-main">
				
			</div>
			<button type="button" class="btn save-card-btn">Save</button>
			<button type="button" class="btn cancel-card-btn">Cancel</button>
		</div>
		
	</div>
</div>

<script>
require(['models/Deck','models/Card'], function(Deck, Card){
	var collection_id = '{{collection.id}}';
	var deck_id = '{{deck.id}}';
	if(collection_id == ''){
		var msg = "No associated course id.";
		alert(msg);
		window.location = "/index/";
	}
	var deck = new Deck(collection_id, deck_id);
	deck.collectionNav();
	deck.deckLink();
	deck.initNewDeck();

	var card = new Card(collection_id, deck_id);
	card.initNewCard();
	


});
</script>
{% endblock %}