{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Flashcards' %}{% endblock %}

{% block branding %}
    <h1 id="site-name">{% trans 'Flashcards' %}</h1>
{% endblock %}

{% block nav-global %}
    <style type="text/css">
        #quicklinks {
            border-top: 1px solid #fff;
            color: #ffc;
            padding: 10px 0;
            margin: 0 8px 8px 8px;
            font-size: 120%;
        }
        ul.quicklinks {
            padding: 4px 10px;
            margin: 0;
        }
        ul.quicklinks li {
            float: left;
            margin: 0 10px;
            list-style-type: none;
        }
        .btn {
            padding:5px;
            color: #fff;
            font-size: 110%;
        }
        .btn:hover {
            color: #000;
        }
    </style>

    <div id="quicklinks">
    Quick Links: 
    <ul class="quicklinks">
        <li><a class="btn" href="{% url 'stats_graphs' %}">Analytics Graphs</a></li>
        <li><a class="btn" href="{% url 'lti-tool-config' %}">LTI Config</a></li>
    </ul>
    </div>
{% endblock %}
