<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="language" content="en" />
	{% block metatags %}{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Vollkorn">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">
	{% block css %}{% endblock %}

	<script src="{{ STATIC_URL }}js/lib/require.js"></script>
	{% include "_requirejs_config.html" with debug=True %}

	<title>{% block title %}Harvard Cards{% endblock %}</title>
</head>
<body>
	<div class="container">
		{% block header %}
		<div id="fc_headerWrapper" class="sectionWrapper"><!-- sectionWrapper (start) -->
			<div id="fc_header" class="section"><!-- section (start) -->
				<a href="{% url 'index' %}"><img src="{{ STATIC_URL }}img/harvardLogo.png" alt="Harvard University" title="Harvard University" border="0" /></a>
				<ul id="userInfo">
					{% if user.is_authenticated %}
						<li><span>{{ user.email }}</span></li>
						<li><a href="{% url 'logout' %}">Sign out</a></li>
					{% else %}
						<li><span>Guest</span></li>
						<li><span><a href="{% url 'login' %}">Login</a></span></li>
					{% endif %}
				</ul>
			</div><!-- section (end) -->
		</div><!-- sectionWrapper (end) -->
		{% endblock %}

		{% block content %}{% endblock %}

		{% block footer %}{% endblock %}
	</div>

	<script type="text/javascript">
	require(['jquery', 'jquery.cookie'], function($) {
		var csrftoken = $.cookie('csrftoken');
		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
			crossDomain: false, // obviates need for sameOrigin test
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type)) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});
	});
	</script>

	{% block javascript %}{% endblock %}
</body>
</html>
