{% extends "__base.html" %}

{% block content %}
<div class="sectionWrapper"><!-- sectionWrapper (start) -->
	<div class="section"><!-- section (start) -->
		<div class="contentWrapper"><!-- contentWrapper (start) -->
            <div class="hidden-mobile">
    			<a id="mobileMenu" href="javascript:void(0)"><i class="fa fa-bars fa-2x"></i></a> <h1 id="appTitle">Flashcards</h1>
	    		<div class="clear"></div>
			</div>
            <!--div class="skipNav"><a href="#contentHere" title="Skip to content">Skip to content</a></div-->
			{% block sidebar_content %}{% endblock %}
			{% block main_content %}{% endblock %}
		</div>
	</div>
</div>
{% endblock %}
