<div class="courseWrapper">
    <div class="courseHeader">
        {% if is_edit_mode %}
        <a href="{% url 'collectionIndex' collection.id %}?instructor=edit" title="{{collection.title}}">
        {% else %}
        <a href="{% url 'collectionIndex' collection.id %}" title="{{collection.title}}">
        {% endif %}
            <h2 class="courseTitle">{{ collection.title }}</h2>
            <h3>{% if collection.decks|length == 1 %}1 Deck{% else %}{{collection.decks|length}} Decks{% endif %}</h3>
        </a>
        {% if collection.id in user_collection_role.ADMIN and is_edit_mode%}
            <ul class="adminMenu adminMenuRight">
                <li><a href="{% url 'collectionEdit' collection.id %}">Edit</a></li>
                <li><a href="{% url 'collectionDelete' collection.id %}" data-confirm="Are you sure you want to delete: {{collection.title|escape}}?">Delete</a></li>
            </ul>
        {% endif %}
    </div>

    <div class="slider">
        <ul class="courseDecks">
            {% if collection.id in user_collection_role.ADMIN and is_edit_mode %}
                <li class="deck add">
                    <a href="{% url 'collectionAddDeck' collection.id %}">Add a Deck</a>
                </li>
            {% endif %}

            {% for deck in collection.decks %}
            <li class="deck">
                <h2>{{ deck.title }}</h2>
                <p><h3>{{ deck.num_cards }}</h3> {% if deck.num_cards == 1 %}Card {% else %}Cards{% endif %}</p>
                <ul class="deckMenu">
                    {% if is_edit_mode %}
                    <li><a class="viewReview" href="{% url 'deckIndex' deck.id %}?instructor=edit">Review</a></li>
                    <li><a class="viewReview" href="{% url 'deckIndex' deck.id %}?mode=quiz&instructor=edit">Quiz</a></li>
                    {% else %}
                    <li><a class="viewReview" href="{% url 'deckIndex' deck.id %}">Review</a></li>
                    <li><a class="viewReview" href="{% url 'deckIndex' deck.id %}?mode=quiz">Quiz</a></li>
                    {% endif %}
                    {% if collection.id in user_collection_role.ADMIN and is_edit_mode %}
                        <li><a class="adminMenuBtn" href="{% url 'deckEdit' deck.id %}">Edit</a></li>
                        <li><a class="adminMenuBtn" href="{% url 'deckDelete' deck.id %}" data-confirm="Are you sure you want to delete: {{deck.title|escape}}?">Delete</a></li>
                    {% endif %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <div class="sliderNav">
            <ul class="sliderNavNextPrev">
                <li class="sliderPrev"><a href="javascript:void(0)">&laquo; Prev</a></li>
                <li class="sliderNext"><a href="javascript:void(0)">Next &raquo;</a></li>
            </ul>
        </div>
    </div>
</div>
