<div class="courseHeader courseHeaderClickable" data-collection-id="{{ collection.id }}">
    <i class="plusminus fa fa-plus-circle fa-lg"></i>
    {% spaceless %}
        <h2 class="courseTitle">{{ collection.title }}</h2>
        <h3>{% if collection.decks|length == 1 %}1 Deck{% else %}{{collection.decks|length}} Decks{% endif %}</h3>
    {% endspaceless %}
    {% if collection.id in user_collection_role.ADMINISTRATOR %}
        <ul class="adminMenu adminMenuRight">
            <li><a class="adminMenuBtn hidden-mobile" href="{% url 'collectionEdit' collection.id %}?collection_id={{collection.id}}"><i class="fa fa-pencil"></i> Edit</a></li>
            <li><a class="adminMenuBtn hidden-mobile" href="{% url 'collectionDelete' collection.id %}?collection_id={{collection.id}}" data-confirm="Are you sure you want to delete: {{collection.title|escape}}?"><i class="fa fa-times-circle"></i> Delete</a></li>
            <!-- <li><a class="adminMenuBtn hidden-mobile" href="{% url 'collectionShare' collection.id %}?collection_id={{collection.id}}"><i class="fa fa-share"></i> Share</a></li> -->
        </ul>
    {% endif %}
</div>
<div class="courseBody hide">
    {% if collection.id in user_collection_role.ADMINISTRATOR %}
    <div class="deck add hidden-mobile">
        <a href="{% url 'collectionAddDeck' collection.id %}?collection_id={{collection.id}}">Add a Deck</a>
    </div>
    {% endif %}
    <ul>
    {% if collection.decks|length == 0 %}
        {% if not collection.id in user_collection_role.ADMINISTRATOR %}
            No decks have been added to this collection yet.
        {% endif %}
    {% else %} 
        {% for deck in collection.decks %}
            <li class="deck">
                <dl>
                    {% if deck.id < 0 %}
                    <dt><a href="{% url 'allCards' deck.id|stringformat:'+d'|slice:'1:'  %}">{{ deck.title }}</a></dt>
                    <dd>{{ deck.num_cards }} {% if deck.num_cards == 1 %}Card {% else %}Cards{% endif %}</dd>
                    <dd><a class="adminMenuBtn" href="{% url 'allCards' deck.id|stringformat:'+d'|slice:'1:' %}">Review</a></dd>
                    <dd><a class="adminMenuBtn" href="{% url 'allCards' deck.id|stringformat:'+d'|slice:'1:' %}?mode=quiz">Quiz</a></dd>
                    {% else %}
                    <dt><a href="{% url 'deckIndex' deck.id %}">{{ deck.title }}</a></dt>
                    <dd>{{ deck.num_cards }} {% if deck.num_cards == 1 %}Card {% else %}Cards{% endif %}</dd>
                    <dd><a class="adminMenuBtn" href="{% url 'deckIndex' deck.id %}">Review</a></dd>
                    <dd><a class="adminMenuBtn" href="{% url 'deckIndex' deck.id %}?mode=quiz">Quiz</a></dd>
                    {% endif %}

                </dl>
            </li>
        {% endfor %}
    {% endif %}
    </ul>
</div>
