<!-- unsure if this should be left in for the OS version -->
<!--
<div id="navigation">
    {% if not active_collection %}
        {% if user.is_authenticated %}
            <a href="{% url 'collectionCreate' %}" id="addAcourse">Add Collection</a>
        {% endif %}
    {% endif %}
    <nav class="desktopNav" data-set="mobileNav">
        <ul class="appNav">
            <li><a href="{% url 'index' %}">Home</a></li>
            {% for c in nav_collections %}
                <li class="collectionNavItem">
                    <a href="{% url 'collectionIndex' c.id %}" class="{% if c.id == active_collection.id %}active{% endif %}" data-collection-id="{{c.id}}">{{ c.title|truncatechars:30 }}</a>
                    {% if c.id == active_collection.id %}
                        {% if c.decks|length > 0 %}
                        <ul>
                            {% for d in c.decks %}
                                {% if d.id < 0 %}
                                <li><a href="{% url 'allCards' d.id|stringformat:'+d'|slice:'1:' %}{% if is_quiz_mode %}?mode=quiz{% endif %}" class="{% if d.id == active_deck.id %}active{% endif %}" data-deck-id="{{d.id}}">{{ d.title|truncatechars:30}}</a></li>
                                {% else %}
                                <li><a href="{% url 'deckIndex' d.id %}{% if is_quiz_mode %}?mode=quiz{% endif %}" class="{% if d.id == active_deck.id %}active{% endif %}" data-deck-id="{{d.id}}">{{ d.title|truncatechars:30}}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
-->