<div class="courseHeader courseHeaderClickable" data-collection-id="{{ collection.id }}">
    <i class="plusminus fa fa-plus-circle fa-lg"></i>
    {% spaceless %}
        <h2 class="courseTitle">{{ collection.title }}</h2>
        <h3>{% if collection.decks|length == 1 %}1 Deck{% else %}{{collection.decks|length}} Decks{% endif %}</h3>
    {% endspaceless %}
    {% if collection.id in user_collection_role.ADMINISTRATOR %}
        <ul class="adminMenu adminMenuRight">
            {% if is_teacher %}
            <li>
                <a class="adminMenuBtn hidden-mobile" href="{% url 'collectionPublish' collection.id %}?collection_id={{collection.id}}"><i class="fa fa-upload"></i>
                {% if collection.published %} Unpublish {% else %} Publish {% endif %}
                </a>
            </li>
            {% endif %}

            <li><a class="adminMenuBtn hidden-mobile" href="{% url 'collectionEdit' collection.id %}?collection_id={{collection.id}}"><i class="fa fa-pencil"></i> Edit</a></li>
            <li><a class="adminMenuBtn hidden-mobile" href="{% url 'collectionDelete' collection.id %}?collection_id={{collection.id}}" data-confirm="Are you sure you want to delete: {{collection.title|escape}}?"><i class="fa fa-times-circle"></i> Delete</a></li>
            <!-- <li><a class="adminMenuBtn hidden-mobile" href="{% url 'collectionShare' collection.id %}?collection_id={{collection.id}}"><i class="fa fa-share"></i> Share</a></li> -->
        </ul>
    {% endif %}
</div>
<div class="courseBody hide">
    {% if collection.id in user_collection_role.ADMINISTRATOR %}
    <div class="deck add hidden-mobile">
        <a href="{% url 'collectionAddDeck' collection.id %}?collection_id={{collection.id}}" id="addDeck-{{collection.id}}">Add a Deck</a>
    </div>
    {% endif %}
    <ul>
    {% if collection.decks|length == 0 %}
        {% if not collection.id in user_collection_role.ADMINISTRATOR %}
            No decks have been added to this collection yet.
        {% endif %}
    {% else %} 
        {% for deck in collection.decks %}
            <li class="deck">
                <dl>
                    {% if deck.id < 0 %}
                    <dt><a href="{% url 'allCards' collection.id  %}">{{ deck.title }}</a></dt>
                    <dd>{{ deck.num_cards }} {% if deck.num_cards == 1 %}Card {% else %}Cards{% endif %}</dd>
                    <dd><a class="adminMenuBtn" href="{% url 'allCards' collection.id %}">Review</a></dd>
                    <dd><a class="adminMenuBtn" href="{% url 'allCards' collection.id %}?mode=quiz">Quiz</a></dd>
                    {% else %}
                    <dt><a href="{% url 'deckIndex' deck.id %}">{{ deck.title }}</a></dt>
                    <dd>{{ deck.num_cards }} {% if deck.num_cards == 1 %}Card {% else %}Cards{% endif %}</dd>
                    <dd><a class="adminMenuBtn" href="{% url 'deckIndex' deck.id %}">Review</a></dd>
                    <dd><a class="adminMenuBtn" href="{% url 'deckIndex' deck.id %}?mode=quiz">Quiz</a></dd>
                    {% endif %}

                </dl>
            </li>
        {% endfor %}
    {% endif %}
    </ul>
</div>


<div id="addAdeckDialog-{{collection.id}}" style="display:none;" title="Add A Deck">
    <ul class="addADeckContent">
        <li>
            <h2>Add a New Deck to the Collection {{collection.title}}</h2>

            <form id="form-{{collection.id}}" action="{% url 'collectionAddDeck' collection.id %}?collection_id={{collection.id}}" method="post">
                {% csrf_token %}

                <div class="courseHeader" style="margin-top:1%;">
                    <label for="id_title" style="visibility:hidden;text-indent:-300px;position:absolute;">Title:</label>
                    <input id="deck_title" name="deck_title" type="text" autofocus placeholder="Enter deck name here">
                    <!-- this outputs the text form filed with the django templates {{ collection_form.title }} -->
                </div>
                <div style="font-size:75%;">
                    <h2 class="float-left">
                    <label for="action">Choose Action:</label>
                    </h2>
                    <div class="form-input float-left">
                    <select name="action" style="" id="action">
                        <option value="1">Create Deck Only</option>
                        <option value="2">Create Deck and Add Cards</option>
                        <option value="3">Create Deck and Upload Deck Cards</option>
                    </select>
                    </div>
                </div>
            </form>
            <input style="margin-top: .5em" class="adminMenuBtn" form="form-{{collection.id}}" type="submit" value="Add Deck"/>


    </ul>
</div>
