<div id="navigation">
	{% if not collection %}
		{% if user.is_staff or user.is_superuser %}
			<a href="{% url 'collectionCreate' %}" id="addAcourse">Add a course</a>
		{% endif %}
	{% endif %}
    <nav class="desktopNav" data-set="mobileNav">
        <ul class="appNav">
            <li>
                <a href="{% url 'index' %}">Home</a>
            </li>
            {% for c in collections %}
                <li>
                    {% if c == collection %}
                        <a href="{% url 'collectionIndex' c.id %}" class="active">{{ c.title|truncatechars:30 }}</a>
                    {% else %}
                         <a href="{% url 'collectionIndex' c.id %}">{{ c.title|truncatechars:30 }}</a>
                    {% endif %}

                    {% if c == collection %}
                        {% if c.decks|length > 0 %}
                            <ul>
                                {% for deck in c.decks %}
                                    <li><a href="{% url 'deckIndex' deck.id %}">{{ deck.title|truncatechars:30}}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
