<div id="navigation"><!-- navigaton (start) -->
	<nav class="desktopNav" data-set="mobileNav">
		<ul class="appNav">
			<li>
                {% if is_edit_mode %}
                <a href="{% url 'index' %}?instructor=edit">Home</a>
                {% else %}
                <a href="{% url 'index' %}">Home</a>
                {% endif %}
			</li>
		    {% for c in collections %}
                <li>
                    {% if c == collection %}
                        {% if is_edit_mode %}
                        <a href="{% url 'collectionIndex' c.id %}?instructor=edit" class="active">{{ c.title|truncatechars:30 }}</a>
                        {% else %}
                        <a href="{% url 'collectionIndex' c.id %}" class="active">{{ c.title|truncatechars:30 }}</a>
                        {% endif %}
                    {% else %}
                        {% if is_edit_mode %}
                        <a href="{% url 'collectionIndex' c.id %}?instructor=edit">{{ c.title|truncatechars:30 }}</a>
                        {% else %}
                         <a href="{% url 'collectionIndex' c.id %}">{{ c.title|truncatechars:30 }}</a>
                        {% endif %}
                    {% endif %}

                    {% if c == collection %}
                        {% if c.deck_set.count > 0 %}
                        <ul>
                            {% for d in c.deck_set.all %}
                            <li>
                                {% if is_quiz_mode %}
                                    {% if d == deck %}
                                        {% if is_edit_mode %}
                                        <li><a href="{% url 'deckIndex' d.id %}?mode=quiz&instructor=edit" class="active">{{ d.title|truncatechars:30}}</a></li>
                                        {% else %}
                                        <li><a href="{% url 'deckIndex' d.id %}?mode=quiz" class="active">{{ d.title|truncatechars:30}}</a></li>
                                        {% endif %}
                                    {% else %}
                                        {% if is_edit_mode %}
                                        <li><a href="{% url 'deckIndex' d.id %}?mode=quiz&instructor=edit">{{ d.title|truncatechars:30}}</a></li>
                                        {% else %}
                                        <li><a href="{% url 'deckIndex' d.id %}?mode=quiz">{{ d.title|truncatechars:30}}</a></li>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    {% if d == deck %}
                                        {% if is_edit_mode %}
                                        <li><a href="{% url 'deckIndex' d.id %}?instructor=edit" class="active">{{ d.title|truncatechars:30}}</a></li>
                                        {% else %}
                                        <li><a href="{% url 'deckIndex' d.id %}" class="active">{{ d.title|truncatechars:30}}</a></li>
                                        {% endif %}
                                    {% else %}
                                        {% if is_edit_mode %}
                                        <li><a href="{% url 'deckIndex' d.id %}?instructor=edit">{{ d.title|truncatechars:30}}</a></li>
                                        {% else %}
                                        <li><a href="{% url 'deckIndex' d.id %}">{{ d.title|truncatechars:30}}</a></li>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}

                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    {% endif %}
                </li>
		    {% endfor %}
		</ul>
	</nav>
</div><!-- navigaton (end) -->
