<div class="showRevealWrapper">
	{% if field.show_label %}
		<span class="cardFieldLabel">{{ field.label }}:</span>
	{% endif %}

	{% if field.type == 'T' %}
		<span class="cardFieldValue">{{ field.value}}</span>
	{% elif field.type == 'I' %}
		<img src="{{MEDIA_URL}}{{field.value}}" alt="{{field.label}}" class="cardFieldImage" />
		<div class="controls">
			<div>
				<a href="{{MEDIA_URL}}originals/{{field.value}}" target="_blank">
                    <i class="fa fa-external-link"></i>
                    <span class="control-text">View Full Size Image</span>
                </a>
			</div>
		</div>
	{% elif field.type == 'V' %}
		<video src="{{field.value}}" alt="{{field.label}}" controls>
			Your browser does not support the video element.
		</video>
	{% elif field.type == 'A' %}
		<audio src="{{field.value}}" alt="{{field.label}}" controls="controls">
			Your browser does not support the audio element.
		</audio>
	{% else %}
		<b>ERROR FIELD TYPE NOT SUPPORTED: {{field.type}}</b>
	{% endif %}
</div>
