{% if field.value %}
    {% if field.type == 'T' %}
        {{ field.value}}
    {% elif field.type == 'I' %}
        <img src="{{MEDIA_URL}}thumbnails/{{field.value}}" alt="{{field.label}}" class="cardFieldImage" />
    {% elif field.type == 'V' %}
        <video src="{{field.value}}" alt="{{field.label}}" controls>
            Your browser does not support the <code>video</code> element.
        </video>
    {% elif field.type == 'A' %}
        <audio alt="{{field.label}}" controls="controls" preload="auto">
            <source src="{{field.value}}" />
            Your browser does not support the <code>audio</code> element.
        </audio>
    {% else %}
        <b>ERROR FIELD TYPE NOT SUPPORTED: {{field.type}}</b>
    {% endif %}
{% endif %}
