<div id="navigation"><!-- navigaton (start) -->
<nav class="desktopNav" data-set="mobileNav">
    <ul class="appNav">
        <li>
            <a href="{% url 'index' %}">Home</a>
        </li>
        {% for c in collections %}
        <li>
            <a href="{% url 'collectionIndex' c.id %}" class="{% if c == collection %}active{% endif%}" data-collection-id="{{c.id}}">{{ c.title|truncatechars:30 }}</a>
            {% if c == collection and c.deck_set.count > 0 %}
            <ul>
                {% for d in c.deck_set.all %}
                <li>
                    <a href="{% url 'deckIndex' d.id %}{% if is_quiz_mode %}?mode=quiz{% endif %}" class="{% if d == deck %}active{% endif %}" data-deck-id="{{d.id}}">{{ d.title|truncatechars:30}}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>
</div><!-- navigaton (end) -->
