{% load media_store_tags %}
<div class="showRevealWrapper">
	{% if field.show_label %}
		<span class="cardFieldLabel">{{ field.label }}:</span>
	{% endif %}

	{% if field.value %}
		{% if field.type == 'T' %}
			<span class="cardFieldValue">{{ field.value}}</span>
		{% elif field.type == 'I' %}
		<div class="cardFieldMedia cardFieldImage" data-src="{{field.value|as_media_url:"store/thumb-large"}}" data-alt="{{field.label}}" data-type="{{field.type}}" ></div>
			<div class="controls">
				<div>
					<a href="{{field.value|as_media_url:"store/original"}}" target="_blank">
						<i class="fa fa-external-link"></i>
						<span class="control-text">View Full Size Image</span>
					</a>
				</div>
			</div>
		{% elif field.type == 'V' %}
			{% if  field.value|slice:":4" == "http" or STATIC_URL in field.value %}
			<div class="cardFieldMedia cardFieldVideo" data-src="{{field.value}}" data-label="{{field.label}}" data-type="{{field.type}}"></div>
			{% else %}
			<div class="cardFieldMedia cardFieldVideo" data-src="{{field.value|as_media_url:"store/original"}}" data-label="{{field.label}}" data-type="{{field.type}}"></div>
			{% endif %}
		{% elif field.type == 'A' %}
			{% if  field.value|slice:":4" == "http" or STATIC_URL in field.value %}
				<div class="cardFieldMedia cardFieldAudio" data-src="{{field.value}}" data-label="{{field.label}}" data-type="{{field.type}}"></div>
			{% else %}
				<div class="cardFieldMedia cardFieldAudio" data-src="{{field.value|as_media_url:"store/original"}}" data-label="{{field.label}}" data-type="{{field.type}}"></div>
			{% endif %}
		{% else %}
			<b>ERROR FIELD TYPE NOT SUPPORTED: {{field.type}}</b>
		{% endif %}
	{% endif %}
</div>
