<script>
requirejs.config({
	baseUrl: "{{ STATIC_URL }}js",
	paths: {
		'jquery' : 'http://code.jquery.com/jquery-1.10.1.min',
		'jquery.cookie': '//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min',
		'jquery.form': 'http://malsup.github.io/jquery.form',
		'jqueryui': 'http://code.jquery.com/ui/1.10.3/jquery-ui',
		'lodash' : '//cdnjs.cloudflare.com/ajax/libs/lodash.js/1.3.1/lodash'
	},
	shim: {
		'jquery' : '$', 
		'jqueryui': {
			deps: ['jquery'],
			exports: 'jQuery.ui'
		},
		'jquery.jeditable': {
			deps: ['jquery'],
			exports: 'jQuery.fn.editable'
		},
		'jquery.cookie': {
			deps: ['jquery'],
			exports: 'jQuery.fn.cookie'
		},
		'jquery.form': {
			deps: ['jquery'],
			exports: 'jQuery.fn.form'
		},
		'lodash' : '_'
	},
	{% if debug %}
	'urlArgs': ('t='+(new Date().getTime()))
	{% endif %}
});
</script>
