{% extends "__layout_left_sidebar.html" %}

{% block sidebar_content %}
	{% include "_collection_nav.html" with collection=collection %}
{% endblock %}

{% block main_content %}

<div id="content"><!-- content (start) -->
	<div class="courseWrapper addCourseWrapper"><!-- courseWrapper (start) -->
			<div class="courseHeader" id="addCourse"><!-- courseHeader (start) -->
					<h2>Enter course name</h2>
					<ul class="adminMenu adminMenuRight">
							<li><a href="#" id="collection_cancel">Cancel</a></li>
					</ul>
			</div><!-- courseHeader (end) -->

		<!-- slider (start) -->
		 <div class="slider" data-slider-type="templates">
				 <ul class="templateDecks"><!-- templateDecks(start) -->
				 <li class="deck"><!-- deck (start) -->
					 <a class="template" href="#">
							 <h2>Template 1</h2>
					 </a>
				 </li><!-- deck (end) -->
				
				 <li class="deck"><!-- deck (start) -->
					 <a class="template" href="#">
							 <h2>Template 2</h2>
					 </a>
				 </li><!-- deck (end) -->
				
				 <li class="deck"><!-- deck (start) -->
					 <a class="template" href="#">
							 <h2>Template 3</h2>
					 </a>
				 </li><!-- deck (end) -->
				
			 </ul><!-- templateDecks (end) -->
		 </div>
		 <!-- slider (end) -->
		
		 <!-- sliderNav (start) -->
		 <div class="sliderNav">
			 <ul class="sliderNavNextPrev">
				 <li class="sliderPrev"><a href="javascript:sliders.templates[0].goToPrev()">&laquo; Prev</a></li>
				 <li class="sliderNext"><a href="javascript:sliders.templates[0].goToNext()">Next &raquo;</a></li>
				 <!--li><a href="javascript:sliders[0].respond()">.respond()</a></li-->
			 </ul>
							 </div>
		 <!-- sliderNav (end) -->
	 </div><!-- courseWrapper (end) -->

	{% for collection in collections %}
	<div class="courseWrapper"><!-- courseWrapper (start) -->

        <div class="courseHeader"><!-- courseHeader (start) -->
			<a href="{% url 'collection_id' collection.id %}" title="Click to view all decks"><h2  class="courseTitle">{{ collection.title }}</h2><h3>{{collection.decks|length}} Decks</h3></a>
			{% if collection.id in user_collection_role.ADMIN %}
			<ul class="adminMenu">
				<li><a href="#">Edit</a></li>
				<li><a href="#">Share</a></li>
			</ul>
			<ul class="adminMenu adminMenuRight">
				<li><a href="#">Delete</a></li>
			</ul>
			{% endif %}
		</div>
		<div class="slider" data-slider-type="decks"><!--slider (start) -->
			<ul class="courseDecks"><!-- courseDecks(start) -->
				{% for deck in collection.decks %}
                {% if forloop.counter < 5 %}
				<li class="deck"><!-- deck (start) -->
					<h2>{{ deck.title }}</h2>
					<p><h3>{{ deck.num_cards }}</h3> Cards</p>
					<!--
					<p>Last modified</p>
					<p class="lastUpdated">Now</p>
					-->
					<a href="#" class="arrow arrowExpand"><img src="{{ STATIC_URL }}img/arrowUp.png"></a>
					<ul class="deckMenu">
						<li class="arrowContainer"><a href="#" class="arrow arrowCollapse"><img src="{{ STATIC_URL }}img/arrowDown.png"></a></li>
						<li><a class="viewReview" href="{% url 'deckIndex' deck.id %}">Review</a></li>
						<li><a class="viewReview" href="{% url 'deckIndex' deck.id %}?mode=quiz">Quiz</a></li>

						{% if collection.id in user_collection_role.ADMIN %}
						<li><a class="adminMenuBtn" href="#">Edit</a></li>
						<li><a class="adminMenuBtn" href="#">Delete</a></li>
						{% endif %}
                        </ul>
                    </li><!-- deck (end) -->
                    {% endif %}
				    {% endfor %}
			</ul>
		</div><!-- slider (end) -->
		<div class="sliderNav"><!-- sliderNav (start) -->
			<ul class="sliderNavNextPrev">
				<li class="sliderPrev"><a href="javascript:sliders.decks[{{forloop.counter0}}].goToPrev()">&laquo; Prev</a></li>
				<li class="sliderNext"><a href="javascript:sliders.decks[{{forloop.counter0}}].goToNext()">Next &raquo;</a></li>
				<!--li><a href="javascript:sliders[2].respond()">.respond()</a></li-->
			</ul>
		</div>
	</div><!-- courseWrapper (end) -->
	{% endfor %}
</div><!-- content (end) -->
{% endblock %}

{% block javascript %}
<script type="text/javascript">
require(['views/CollectionList'], function(CollectionList){                
	$(document).ready(function(){
			var collectionList = new CollectionList({
					$add_collection_button: $('#addAcourse'),
					$collection_cancel: $('#collection_cancel'),
					$add_collection_content: $('.addCourseWrapper'),
					$add_collection_title: $('#addCourse h2'),
			});
	});
});

require(['jquery', 'lib'], function($, lib) {
	var ArrowToggle = lib.ArrowToggle;
	var Slider = lib.Slider;
	var sliders = {'decks':[],'templates':[]}; 
	var sliderLength;

	$('.slider').each(function() {
		var slider_type = $(this).data('slider-type');
			if ($(this).text() != ''){
					//create Slider objects
					sliders[slider_type].push(new Slider(this));
			}        
	});

	$(window).on("resize", function () {
		for(var k in sliders) {
			if(sliders.hasOwnProperty(k)) {
				sliderLength = sliders[k].length;
				if (sliderLength > 0) {
						for( var i=0; i < sliderLength; i++ ) {
								if ($('.sliderNav').css('display') == 'none'){
										sliders[k][i].resetUL(); //removing the size when going back into the noslider div
								} else {
										sliders[k][i].respond();
								}
						}
				}
			}
		}
	}).resize();
	
	
/*************************************************************************
					TOUCH EVENTS FOR DASHBAORD (START)
*************************************************************************/

	if (typeof(window.ontouchstart) != 'undefined' || typeof(window.onmspointerdown) != 'undefined')
	{
		$('.sliderNav').hide();
		
	}
	
	var TRANSITION     = 'transition',
        TRANSFORM      = 'transform',
        TRANSITION_END = 'transitionend',
        TRANSFORM_CSS  = 'transform',
        TRANSITION_CSS = 'transition';
            
    if (typeof document.body.style.webkitTransform !== undefined)
    {
        TRANSITION = 'webkitTransition';
        TRANSFORM = 'webkitTransform';
        TRANSITION_END = 'webkitTransitionEnd';
        TRANSFORM_CSS = '-webkit-transform';
        TRANSITION_CSS = '-webkit-transition';
    }
	
	function cleanTransitions(node)
	{
            node.style[TRANSITION] = 'none';
    }
    
	function attachTouchEvents()
	{
		var bd = document.querySelectorAll('.slider');
		var bdLength = bd.length;
		for ( i = 0; i < bdLength; i++ )
		{
			bd[i].addEventListener('touchmove', handleTouchEvents);
			bd[i].addEventListener('touchstart', handleTouchEvents);
			bd[i].addEventListener('touchend', handleTouchEvents);
		}
	}
		
	function setPosition(node, left) 
	{
        node.style[TRANSFORM] =  "translate3d("+left+"px, 0, 0)";
    }
                
	
    var startPos, lastPos, startPosY, lastPosY;
    
	function handleTouchEvents(e)
	{
		var direction = 0;
		
		var i = $(this).parent().index();
		if (e.type == 'touchstart')
		{
			startPos = e.touches[0].clientX;
			lastPos = startPos;
			direction = 0;
			
			startPosY = e.touches[0].clientY;
			lastPosY = startPosY;
		}
		else if (e.type == 'touchmove')
		{
			e.preventDefault();
			
			if (lastPos > startPos)
			{
				direction = -1;
			}
			else
			{
				direction = 1;
			}
			
			lastPosY = e.touches[0].clientY;
			lastPos = e.touches[0].clientX;
			
		}
		else if (e.type == 'touchend')
		{	
            if(lastPosY - startPosY > 50)
			{
				if ( $(this).parent().prev().hasClass('addCourseWrapper') )
				{
					//first slider scroll to top of page
            		$('html body').animate({scrollTop: $('html').position().top}, 500);
				}
				else
				{
					//page up
					$('html body').animate({scrollTop: $(this).parent().prev().position().top}, 500);
				}
            }
            else if (lastPosY - startPosY < -50)
            {
            	if ( !($(this).parent().prev().hasClass('courseWrapper')) )
            	{
            		//first slider scroll to top of page
            		$('html body').animate({scrollTop: $('html').position().bottom}, 500);
            	}
            	else
            	{
	            	//page down
	            	$('html body').animate({scrollTop: $(this).parent().next().position().top}, 500);
            	}
            }
            else
            {
	            if(lastPos - startPos > 100)
				{
	                sliders.decks[i-1].goToPrev();
	            }
	            else if (lastPos - startPos < -100)
	            {
	                sliders.decks[i-1].goToNext();
	            }
            }
		}	
	}
	
	attachTouchEvents();

/*************************************************************************
					TOUCH EVENTS FOR DASHBAORD (END)
*************************************************************************/
	
	$(document).on('ready', ArrowToggle('a.arrow', '.deck'));

	window.sliders = sliders;
});

</script>
{% endblock %}
