{% extends "__layout_left_sidebar.html" %}

{% block sidebar_content %}
	{% include "_collection_nav.html" with collection=collection %}
{% endblock %}

{% block main_content %}
<div id="content"><!-- content (start) -->
	<div class="courseWrapper addCourseWrapper"><!-- courseWrapper (start) -->
			<div class="courseHeader"><!-- courseHeader (start) -->
					<h2>Enter course name</h2>
					<ul class="adminMenu">
							<li><a href="#">Edit</a></li>
					</ul>
					<ul class="adminMenu adminMenuRight">
							<li><a href="#" id="collection_cancel">Cancel</a></li>
					</ul>
			</div><!-- courseHeader (end) -->

		<!-- slider (start) -->
		 <div class="slider">
				 <ul class="templateDecks"><!-- templateDecks(start) -->
				 <li class="deck"><!-- deck (start) -->
					 <a class="template" href="#">
							 <h2>Template 1</h2>
					 </a>
				 </li><!-- deck (end) -->
				
				 <li class="deck"><!-- deck (start) -->
					 <a class="template" href="#">
							 <h2>Template 2</h2>
					 </a>
				 </li><!-- deck (end) -->
				
				 <li class="deck"><!-- deck (start) -->
					 <a class="template" href="#">
							 <h2>Template 3</h2>
					 </a>
				 </li><!-- deck (end) -->
				
			 </ul><!-- templateDecks (end) -->
		 </div>
		 <!-- slider (end) -->
		
		 <!-- sliderNav (start) -->
		 <div class="sliderNav">
			 <ul class="sliderNavNextPrev">
				 <li class="sliderPrev"><a href="javascript:sliders[0].goToPrev()">&laquo; Prev</a></li>
				 <li class="sliderNext"><a href="javascript:sliders[0].goToNext()">Next &raquo;</a></li>
				 <!--li><a href="javascript:sliders[0].respond()">.respond()</a></li-->
			 </ul>
							 </div>
		 <!-- sliderNav (end) -->
	 </div><!-- courseWrapper (end) -->

	{% for collection in collections %}
	<div class="courseWrapper"><!-- courseWrapper (start) -->
		<div class="courseHeader"><!-- courseHeader (start) -->
			<h2>{{ collection.title }}</h2>
			{% if collection.id in user_collection_role.ADMIN %}
			<ul class="adminMenu">
				<li><a href="#">Edit</a></li>
				<li><a href="#">Share</a></li>
			</ul>
			<ul class="adminMenu adminMenuRight">
				<li><a href="#">Delete</a></li>
			</ul>
			{% endif %}
		</div>
		<div class="slider"><!--slider (start) -->
			<ul class="courseDecks"><!-- courseDecks(start) -->
				{% for deck in collection.deck_set.all %}
				<li class="deck"><!-- deck (start) -->
					<h2>{{ deck.title }}</h2>
					<p><h3>{{ deck.decks_cards_set.count }}</h3> Cards</p>
					<p>Last modified</p>
					<p class="lastUpdated">Now</p>
					<a href="#" class="arrow arrowExpand"><img src="{{ STATIC_URL }}img/arrowUp.png"></a>
					<ul class="deckMenu">
						<li class="arrowContainer"><a href="#" class="arrow arrowCollapse"><img src="{{ STATIC_URL }}img/arrowDown.png"></a></li>
						<li><a class="viewReview" href="{% url 'deckIndex' deck.id %}">Review</a></li>
						<li><a class="viewReview" href="{% url 'deckIndex' deck.id %}">Quiz</a></li>

						{% if collection.id in user_collection_role.ADMIN %}
						<li><a class="adminMenuBtn" href="#">Edit</a></li>
						<li><a class="adminMenuBtn" href="#">Delete</a></li>
						{% endif %}
					</ul>
				</li><!-- deck (end) -->
				{% endfor %}
			</ul>
		</div><!-- slider (end) -->
		<div class="sliderNav"><!-- sliderNav (start) -->
			<ul class="sliderNavNextPrev">
				<li class="sliderPrev"><a href="javascript:sliders[1].goToPrev()">&laquo; Prev</a></li>
				<li class="sliderNext"><a href="javascript:sliders[1].goToNext()">Next &raquo;</a></li>
				<!--li><a href="javascript:sliders[2].respond()">.respond()</a></li-->
			</ul>
		</div>
	</div><!-- courseWrapper (end) -->
	{% endfor %}
</div><!-- content (end) -->
{% endblock %}

{% block javascript %}
<script>
require(['views/CollectionList'], function(CollectionList){                
	$(document).ready(function(){
			var collectionList = new CollectionList({
					$add_collection_button: $('#addAcourse'),
					$collection_cancel: $('#collection_cancel'),
					$add_collection_content: $('.addCourseWrapper'),
					$add_collection_title: $('.courseHeader h2'),
			});        
	});
});

require(['jquery', 'lib'], function($, lib) {
	var Slider = lib.Slider;
	var sliders = [];
	var sliderLength;
	var sliderObjExist = false;
	$('.slider').each(function() {
			if ( $(this).text() != '' ){
					//create Slider objects
					sliders.push(new Slider(this));
					//sliders[i].respond();
					sliderObjExist = true;
			}        
	});

	$(window).on("resize", function () {
			
			sliderLength = sliders.length;
			
			if ( sliderObjExist )
			{
					for( var i=0; i < sliderLength; i++ )
					{
							if ($('.sliderNav').css('display') == 'none'){
									
									//removing the size when going back into the noslider div
									sliders[i].resetUL();
							}else{
									//console.log($('.sliderNav').css('display'));
									sliders[i].respond();
							}
					}
			}
	}).resize();
});

</script>
{% endblock %}
