{% extends "__layout_left_sidebar.html" %}

{% block sidebar_content %}
	{% include "_current_collection_nav.html" with collection=collection collections=collections %}
{% endblock %}

{% block main_content %}

<div id="content"><!-- content (start) -->
	<div class="courseWrapper"><!-- courseWrapper (start) -->
		<div class="courseHeader"><!-- courseHeader (start) -->
			<h2>{{ collection.title }}</h2>
			{% if collection.id in user_collection_role.ADMIN %}
			<ul class="adminMenu">
				<li><a href="{% url 'collectionUploadDeck' collection.id %}" id="addDeck">Add Deck</a></li>
			</ul>
			<ul class="adminMenu adminMenuRight">
                <li><a href="{% url 'collectionEdit' collection.id %}">Edit</a></li>
                <li><a href="{% url 'collectionDelete' collection.id %}">Delete</a></li>
			</ul>
			{% endif %}
		</div>
        <div class="courseWrapper addCourseWrapper" id="addDeckForm"><!-- courseWrapper (start) -->
        <form action="/deck/create/" method="POST" id="deckform">
            {% csrf_token %}
			<div class="courseHeader"><!-- courseHeader (start) -->
					<h2 id="deckTitle">Enter the new deck's name</h2>
                    <input id="deck_title" name="title" type="hidden" />
                    <input id="collection_id" name="collection_id" type="hidden" />
                	<ul class="adminMenu">
							<li><a href="#" id="deck_submit">Create</a></li>
					</ul>
					<ul class="adminMenu adminMenuRight">
							<li><a href="#" id="deck_cancel">Cancel</a></li>
					</ul>
			</div><!-- courseHeader (end) -->
        </form>
        </div>
		<div class="slider" data-slider-type="decks"><!--slider (start) -->
			<ul class="courseDecks"><!-- courseDecks(start) -->
				{% for deck in collection.decks %}
				<li class="deck"><!-- deck (start) -->
					<h2>{{ deck.title }}</h2>
					<p><h3>{{ deck.num_cards }}</h3> {% if deck.num_cards == 1 %}Card {% else %}Cards{% endif %}</p>
					<!--
					<p>Last modified</p>
					<p class="lastUpdated">Now</p>
					-->
					<!--a href="#" class="arrow arrowExpand"><img src="{{ STATIC_URL }}img/arrowUp.png"></a-->
					<ul class="deckMenu">
						<!--li class="arrowContainer"><a href="#" class="arrow arrowCollapse"><img src="{{ STATIC_URL }}img/arrowDown.png"></a></li-->
						<li><a class="viewReview" href="{% url 'deckIndex' deck.id %}">Review</a></li>
						<li><a class="viewReview" href="{% url 'deckIndex' deck.id %}?mode=quiz">Quiz</a></li>

						{% if collection.id in user_collection_role.ADMIN %}
                        <li><a class="adminMenuBtn" href="{% url 'deckEdit' deck.id %}">Edit</a></li>
                        <li><a class="adminMenuBtn" href="{% url 'deckDelete' deck.id %}">Delete</a></li>
						{% endif %}
                        </ul>
                    </li><!-- deck (end) -->
				    {% endfor %}
			</ul>
		</div><!-- slider (end) -->
		<div class="sliderNav"><!-- sliderNav (start) -->
			<ul class="sliderNavNextPrev">
				<li class="sliderPrev"><a href="javascript:sliders.decks[{{forloop.counter0}}].goToPrev()">&laquo; Prev</a></li>
				<li class="sliderNext"><a href="javascript:sliders.decks[{{forloop.counter0}}].goToNext()">Next &raquo;</a></li>
				<!--li><a href="javascript:sliders[2].respond()">.respond()</a></li-->
			</ul>
		</div>
	</div><!-- courseWrapper (end) -->
</div><!-- content (end) -->
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
        $('#deck_submit').bind('click', function(){
            setTimeout(function() {
            $("#collection_id").val(extractCollectionId());

            var gh = $("#deckTitle");
            $("#deck_title").val(gh.text());
            $('#deckform').submit();
            return false;
        }, 1000);
        });

        $('#addDeck').click(function(){
            $('#addDeckForm').css("display","block");
            return false;
        });
        $('#deck_cancel').click(function(){
            $('#addDeckForm').css("display","none");
            return false;
        });
});
});

require(['jquery', 'lib'], function($, lib) {
	var ArrowToggle = lib.ArrowToggle;
	var Slider = lib.Slider;
	var sliders = {'decks':[],'templates':[]};
	var sliderLength;

	$('.slider').each(function() {
		var slider_type = $(this).data('slider-type');
			if ($(this).text() != ''){
					//create Slider objects
					sliders[slider_type].push(new Slider(this));
			}
	});

	$(window).on("resize", function () {
		for(var k in sliders) {
			if(sliders.hasOwnProperty(k)) {
				var sliderLength = sliders[k].length;
				if (sliderLength > 0) {
						for( var i=0; i < sliderLength; i++ ) {
								if ($('.sliderNav').css('display') == 'none'){
										sliders[k][i].resetUL(); //removing the size when going back into the noslider div
								} else {
										sliders[k][i].respond();
								}
						}
				}
			}
		}
	}).resize();

	$(document).on('ready', ArrowToggle('a.arrow', '.deck'));

	window.sliders = sliders;
});

</script>
{% endblock %}
