{% extends "__layout_left_sidebar.html" %}


{% block sidebar_content %}
    {% include "_deck_nav.html" with nav_collections=nav_collections active_collection=collection active_deck=deck is_quiz_mode=is_quiz_mode %}
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
{% endblock %}


{% block main_content %}
<div id="content" data-module="deck-view">
    <div class="courseWrapper" id = "wrapper">

        <!-- SECTION: Header -->
        <div class="courseHeader">
            <h2 class="courseTitle"><a href="{% url 'collectionIndex' collection.id %}">{{collection.title}}</a></h2>
            {% if is_deck_admin %}
                <h3 data-editable="yes" data-editable-id="{{deck.id}}" title="Click to edit title...">{{deck.title}}</h3>
                <i class="fa fa-pencil"></i>
            {% else %}
                <h3>{{deck.title}}</h3>
            {% endif %}
            <ul class="adminMenu adminMenuRight">
                <li><a class="adminMenuBtn hidden-mobile" href="{% url 'deckDownload' deck.id %}?deck_id={{deck.id}}" ><i class="fa fa-download"></i> Download Deck</a></li>

                {% if is_deck_admin %}
                <li><a class="adminMenuBtn hidden-mobile" href="{% url 'deckDelete' deck.id %}?deck_id={{deck.id}}" data-confirm="Are you sure you want to delete: {{deck.title|escape}}"><i class="fa fa-times-circle"></i> Delete Deck</a></li>
                {% endif %}
                <li>
                  <button type="button" class="adminMenuBtn" id="flip_mode" aria-role="button" aria-pressed="false">Flip Mode</button>
                {% if is_quiz_mode %}
                    <a class="adminMenuBtn" href="{% url 'deckIndex' deck.id %}" id="review_mode">Review Mode</a>
                {% else %}
                    <a class="adminMenuBtn" href="{% url 'deckIndex' deck.id %}?mode=quiz" id="quiz_mode">Quiz Mode</a>
                {% endif %}
                </li>
            </ul>
        </div>

        <!-- SECTION: Card Slider -->
        {% if is_deck_admin %}
            <div class="addCards hidden-mobile">
                <a class="btn-dashed" href="{% url 'deckCreateCard' deck.id %}?deck_id={{deck.id}}">Add Card</a>
                <a class="btn-dashed" href="{% url 'deckUpload' deck.id %}?deck_id={{deck.id}}">Upload Cards</a>
            </div>
        {% endif %}
        <div id="{% if is_deck_admin %}cardSlider{% else %}cardSliderNotAdmin{% endif %}" role="scrollbar" tabindex="0" aria-orientation="horizontal" class="slider" data-start-card-id="{{card_id}}">
        {% if cards|length %}
            <div class="sliderBtns deckPrev">
                <a id="previous_card" href="javascript:void(0)"><i class="fa fa-angle-left"></i><span>Previous</span></a>
                <a id="first_card" href="javascript:void(0)"><i class="fa fa-angle-double-left"></i><span>First</span></a>
            </div>

            <div class="emptySlider" id="initDeck">
                <h3>Loading the deck...</h3>
            </div>

            <div class="cardHolder" id="holder" style="display:none;">
                {% include "_deck_slider_cards.html" with cards=cards %}
            </div>

            <div class="sliderBtns deckNext">
                <a id="next_card" href="javascript:void(0)"><i class="fa fa-angle-right"></i><span>Next</span></a>
                <a id="last_card" href="javascript:void(0)"><i class="fa fa-angle-double-right"></i><span>Last</span></a>
            </div>
        {% else %}
            <div class="emptySlider">
                <h3>Empty deck {% if is_deck_admin %}- Click "Add Card" to start adding cards to your deck{% endif %}</h3>
            </div>
        {% endif %}
        </div>


        <!-- SECTION: Single Card View -->
        <div id="singleCardHolder" style="{%if cards|length == 0%} border:none; background: inherit;{%endif%}"><!-- singleCardHolder (start)-->
            {% if cards|length %}
            <div id="counterHolder" class="">
                <div id="counter"></div>
            </div>
            <div class="controls">
              <a class="pull-right adminMenuBtn" id="shuffle_cards" href="javascript:void(0)"><i id="shuffle" class="fa fa-random"></i><span class="control-text">Shuffle</span></a>
              <a class="pull-right adminMenuBtn" id="play_cards" href="javascript:void(0)"><i id="play" class="fa fa-play"></i><span class="control-text">Play</span></a>
              <a class="pull-right adminMenuBtn hidden-mobile" id="full_screen" href="javascript:void(0)"><i id="full" class="fa fa-expand"></i><span class="control-text">Full Screen</span></a>
            </div>
            {% for card in cards %}
                {% if is_deck_admin %}
                <div class="controls hide hidden-mobile" data-card-id="{{card.card_id}}">
                    <a class="pull-right adminMenuBtn" href="{% url "deckDeleteCard" deck.id %}?card_id={{card.card_id}}&deck_id={{deck.id}}" data-confirm="Are you sure you want to delete this card?"><i class="fa fa-times-circle"></i> Delete Card</a>
                    <a class="pull-right adminMenuBtn" href="{% url "deckEditCard" deck.id %}?card_id={{card.card_id}}&deck_id={{deck.id}}"><i class="fa fa-pencil"></i> Edit Card</a>
                </div>
                {% endif %}
            {% endfor %}

            {% endif %}
            <ul id="allCards">
                {% for card in cards %}
                <li class="{% if card.color %}card-color-{{card.color}}{% endif %} hide" role="tabpanel"  data-card-id="{{ card.card_id }}">
                    <div class="show_content">
                    {% for field in card.fields.show %}
                        {% include "_deck_card_fields.html" with field=field hide=False %}
                    {% endfor %}
                    </div>
                    <div class="hideRevealHr">
                        {% if is_quiz_mode %}
                        <a href="javascript:void(0)" class="adminMenuBtn reveal">Reveal</a>
                        {% endif %}
                    </div>
                    <div class="reveal_content {% if is_quiz_mode %}hide{% endif %}">
                    {% for field in card.fields.reveal %}
                        {% include "_deck_card_fields.html" with field=field %}
                    {% endfor %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div><!-- courseWrapper (end) -->
</div><!-- content (end) -->
{% endblock %}
