{% extends "__layout_left_sidebar.html" %}

{% block sidebar_content %}
	{% include "_deck_nav.html" with collection=collection deck=deck %}
{% endblock %}

{% block main_content %}

<link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>

            
            <div id="content"><!-- content (start) -->
            
            	<div class="courseWrapper"><!-- courseWrapper (start) -->
                
                    <div class="courseHeader"><!-- courseHeader (start) -->

                        <h2 class="courseTitle">{{collection.title}}</h2><h3>{{deck.title}}</h3>
                        <ul class="adminMenu adminMenuRight">
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </div><!-- courseHeader (end) -->
                    
                    <a href="#" id="addCard">Add Card</a>
                    <div id="cardSlider">
                        <div class="deckPrev"><a href="javascript:sliders[0].goToPrev()">&laquo; Prev</a></div>
                        <div class="cardHolder">

                            <ul id="cards">
                                {% for card in cards %}
                                <li><a class="card" href="#">{{card.card_id}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="deckNext"><a href="javascript:sliders[0].goToNext()">Next &raquo;</a></div>
                        <!-- sliderNav (start) -->
                        <!--<div class="deckNav">
                            <ul class="deckNavNextPrev">
                                <li class="deckPrev"><a href="javascript:sliders[0].goToPrev()">&laquo; Prev</a></li>
                                <li class="deckNext"><a href="javascript:sliders[0].goToNext()">Next &raquo;</a></li>
                            </ul>
                        </div>-->
                        <!-- sliderNav (end) -->

                    </div>
                    
                    <div id="singleCardHolder"><!-- singleCardHolder (start)-->
                    	<div id="cardOverflow"><!-- cardOverflow (start) -->
	                    	<ul>
                                {% for card in cards %}
		                    	<li>
			                    	<div class="showRevealWrapper">
			                        	<h1>{{card.fc}}</h1>
			                            <!--<a href="#" class="reveal">Reveal</a>-->
			                        </div>
									<div class="hideRevealHr"></div>
			                        <div class="showRevealWrapper">
			                        	<h1>Dog</h1>
			                        </div>
		                        </li>
		                        {% endfor %}
	                        </ul>
                        </div><!-- cardOverflow (end) -->
                    </div><!-- singleCardHolder (end)-->
                    
                </div><!-- courseWrapper (end) -->
                
            </div><!-- content (end) -->
            
        </div><!-- contentWrapper (end) -->
        



<script type="text/javascript">

require(['models/Deck','models/Card'], function(Deck, Card){

	var collection_id = '{{collection.id}}';
	var deck_id = '{{deck.id}}';
	var cards_in_deck = '{{cards|length}}';
	if(collection_id == ''){
		var msg = "No associated course id.";
		alert(msg);
		window.location = "/index/";
	}
	//var card = new Card(collection_id, deck_id);
	//card.initFirstCard();
	//card.initNewCard();

	var deck = new Deck(collection_id, deck_id);
	var card = new Card(collection_id, deck);

	deck.collectionNav();
	deck.deckLink();


});
require(['jquery', 'lib', 'appendAround'], function($, lib) {



sliders = [];
var sliderLength;
var sliderObjExist = false;
var Slider = lib.Slider
$('.cardHolder').each(function() {
	if ( $(this).text() != '' ){
		//create Slider objects
		sliders.push(new Slider(this,true));
		//sliders[i].respond();
		sliderObjExist = true;
	}
});

var current = 0;
$(window).on("resize", function () {


	if ( sliderObjExist )
	{
		//console.log($('.sliderNav').css('display'));
		sliders[0].respond();

	}

	var cardHolder = $('#singleCardHolder');
	var holderWidth = Math.round(cardHolder.width());
	var cardItems = $('#singleCardHolder ul li');
	var liCount = cardItems.length;
	//give each a card li the width of the container
	cardItems.width(holderWidth + 'px');
	//make the ul width big enough to fit all cards side by side
	var ulWidth = holderWidth * liCount;
	$('#singleCardHolder ul').width(ulWidth + 'px');

	//on first load show the first card
	cardItems.eq(current).show();

	//change main card based on thumbnail click
	$('a.card').click(function(){
		var i = $(this).parent().index();
		if (i != current)
		{
			cardItems.eq(current).hide();
			cardItems.eq(i).show();
			current = i;
		}

	});

}).resize();
});

</script>


{% endblock %}
