{% extends "__layout_left_sidebar.html" %}


{% block sidebar_content %}
    {% include "_deck_nav.html" with collection=collection deck=deck is_quiz_mode=is_quiz_mode %}
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
{% endblock %}


{% block main_content %}
<div id="content" data-module="deck-view">
    <div class="courseWrapper" id = "wrapper">

        <!-- SECTION: Header -->
        <div class="courseHeader">
            <h2 class="courseTitle"><a href="{% url 'collectionIndex' collection.id %}">{{collection.title}}</a></h2>
            <h3>{{deck.title}}</h3>
            <ul class="adminMenu adminMenuRight">
                {% if is_deck_admin %}
                    <li><a href="{% url 'deckEdit' deck.id %}">Edit</a></li>
                    <li><a href="{% url 'deckDelete' deck.id %}">Delete Deck</a></li>
                {% endif %}
                <li>
                {% if is_quiz_mode %}
                <a href="{% url 'deckIndex' deck.id %}" id="reviewM">Review Mode</a>
                {% else %}
                <a href="{% url 'deckIndex' deck.id %}?mode=quiz" id="quizM">Quiz Mode</a>
                {% endif %}
                </li>
            </ul>
        </div>

        <!-- SECTION: Card Slider -->
        {% if is_deck_admin %}
            <!--a href="javascript:void(0);" id="addCard">Add Card</a-->
            <div class="addCards">
            	<a href="javascript:void(0);" class="btn-dashed" id="addCard">Add Card</a>
				<a href="{% url 'deckUpload' deck.id %}" class="btn-dashed" id="uploadCards">Upload Cards</a>
            </div>
        {% endif %}
        <div id="{% if is_deck_admin %}cardSlider{% else %}cardSliderNotAdmin{% endif %}" role="scrollbar" tabindex="0" aria-orientation="horizontal">
        {% if cards|length %}
            <div class="sliderBtns deckPrev">
                <a id="previous_card" href="#"><i class="fa fa-angle-left"></i><span>Previous</span></a>
                <a id="first_card" href="#"><i class="fa fa-angle-double-left"></i><span>First</span></a>
            </div>

            <div class="emptySlider" id="initDeck">
                <h3>Loading the deck...</h3>
            </div>

            <div class="cardHolder" id="holder" style="display:none;">
                {% include "_deck_slider_cards.html" with cards=cards %}
            </div>

            <div class="sliderBtns deckNext">
                <a id="next_card" href="#"><i class="fa fa-angle-right"></i><span>Next</span></a>
                <a id="last_card" href="#"><i class="fa fa-angle-double-right"></i><span>Last</span></a>
            </div>
        {% else %}
            <div class="emptySlider">
                <h3>Empty Deck - Click on "Add Card" to start adding cards to your deck</h3>
            </div>
        {% endif %}
        </div>


        <!-- SECTION: Add Card Form -->
        <div id="cardFormContainer" style="display:none">
            {% include "_deck_card_form.html" with deck=deck card_template_fields=card_template_fields %}
        </div>


        <!-- SECTION: Mobile Slider Controls -->
        <div class="fullcardBtns">
            <a class="mobileFirst" href="javascript:sliders[0].goToFirst()"><i class="fa fa-angle-double-left"></i><span>First</span></a>
            <a class="mobilePrevious" href="javascript:sliders[0].goToPrev()"><i class="fa fa-angle-left"></i><span>Previous</span></a>
            <a class="mobileNext" href="javascript:sliders[0].goToNext()"><i class="fa fa-angle-right"></i><span>Next</span></a>
            <a class="mobileLast" href="javascript:sliders[0].goToLast()"><i class="fa fa-angle-double-right"></i><span>Last</span></a>
        </div>


        <!-- SECTION: Single Card View -->
        <div id="singleCardHolder" style="{%if cards|length == 0%} border:none; background: inherit;{%endif%}"><!-- singleCardHolder (start)-->
            {% if cards|length %}
            <div id="counterHolder" class="">
                <div id="counter"></div>
            </div>
            <div class="controls" id="controlbar">
              <a class="pull-right" id="shuffle_cards" href="#"><i id="shuffle" class="fa fa-random"></i><span class="control-text">Shuffle</span></a>
              <a class="pull-right" id="play_cards" href="#"><i id="play" class="fa fa-play"></i><span class="control-text">Play</span></a>
              <a class="pull-right" id="full_screen" href="#"><i id="full" class="fa fa-expand"></i><span class="control-text">Full Screen</span></a>
            </div>
            {% endif %}
            <div id="cardOverflow">
                <ul id="allCards">
                    {% for card in cards %}
                    <li class="hide" role="tabpanel">
                        {% for field in card.fields.show %}
                            {% include "_deck_card_fields.html" with field=field %}
                        {% endfor %}
                        <div class="hideRevealHr">
                            {% if is_quiz_mode %}
                            <a href="#" class="reveal">Reveal</a>
                            {% endif %}
                        </div>
                        <div class="{% if is_quiz_mode %}hide{% endif %}">
                        {% for field in card.fields.reveal %}
                            {% include "_deck_card_fields.html" with field=field hide=is_quiz_mode%}
                        {% endfor %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div><!-- courseWrapper (end) -->
</div><!-- content (end) -->
{% endblock %}
