{% extends "__base.html" %}

{% block content %}
<div class="sectionWrapper">
<div class="section">
<div class="contentWrapper">
<div class="help-content">

<h2>HarvardCards</h2>
<p>HarvardCards is a flashcard application to help learners memorize vocabulary, images, or other information. </p>

<h2>The Basic Concepts</h2>
<p>HarvardCards has three key concepts that are helpful to understand: <b>collections</b>, <b>decks</b>, and <b>cards</b>.</p>

<img src="{{ STATIC_URL }}img/help-cdc-diagram.png" alt="Collection, Deck, Card Relationship Diagram" title="Relationship Diagram" style="border:1px solid #CCC;padding:0;"/>

<p>
<b>Collection</b>: 
The first step an instructor will take when setting up HarvardCards will be to create and name a <b>collection.</b>  A collection is like the "folder" concept in personal computers; however, instead of containing files, a Collection will contain <b>decks.</b>  A collection will often correspond to a particular course (and will often be given the name of the course, such as "French 101" in the example above).  Only after the collection is created can the instructor create decks of cards that will exist within that collection.
</p>

<p>
<b>Deck</b>:
 As previously mentioned, a collection may contain any number of <b>decks,</b> which are groups of cards. In the French 101 example, a deck was created that contains all the verbs from Chapter 1, and was given the name, "verbs". A second deck, "nouns", was also created.
</p>

<p>
<b>Card</b>:
Just as collections contain decks, decks contain <b>cards</b>.  A card is the most basic item in the application, and is analogous to a 3 x 5 card you may have used as a student. In the above example, the deck, "verbs," contains many cards, one for each verb to be studied.  
</p>

<p>
<b>To recap</b>:
A <b>Collection</b> is a grouping of any number of <b>decks</b>, and often corresponds to a course.  A <b>deck</b> is a group that can contain any number of <b>cards;</b> usually a deck contains a logical grouping, such as vocabulary from a particular chapter. A card, the most basic unit, corresponds to an item being studied, such as a vocabulary word, or an image in an art history class. When using the application, the steps to set up your course will be to first create a collection, then create one or more decks. Finally, you will either manually add cards to the deck, or batch upload cards to a deck. 
</p>

<h2>Getting Started</h2>
<ol class="help" style="margin-top:1em">
	<li><b>Setting up a collection</b>: When you log in as an administrator, the first thing you will need to do is set up a <b>collection</b> to contain your deck(s).   Here are the steps required:
		<ol>
			<li>Click on <b>"Add Collection."</b></li>
			<li>Enter the name of the collection in the text box that says <b>"Enter course name here"</b>. (Typically, a collection will correspond to the name of a course.) </li>
			<li>Select a <b>Template</b> from the dropdown list. Since this application will be used for various types of classes, we have created a few templates for you to choose from. The template will determine the layout of the card (both front and back), as well as what type of information displayed. For example, if you select the "Art History" template, there will be a place for you to display an image.   If you select one of the foreign language templates, there will be a place for pronunciation.</li>
			<li>Click Submit.</li>
		</ol>
	</li>
	<li><b>Adding a deck</b>: Once you have created a collection you can add any number of decks.  To create a deck:
		<ol>
			<li>Click on <b>"Add a Deck."</b></li>
			<li>Click on the text that says, <b>"Untitled Deck,"</b> and type in a name.</li>
		</ol>
	</li>
	<li><b>Adding cards</b>: Once you have created a deck, you can add cards to it.  There are two ways to add card: You can manually enter information, or you can upload many cards at once via an Excel spreadsheet.  
		<ol>
			<li>Adding cards manually:
				<ol>
					<li>Click on "Add Card."</li>
					<li>Fill out fields that appear (such as "Term"), on the front of the card, then fill out the fields (such as "Definition") on the back of the card.</li>
					<li>If you want, select a card color.</li>
					<li>Click Submit.</li>
				</ol>
			</li>
			<li>Uploading cards:
				<ol>
					<li>Click on "Upload Cards."</li>
					<li>Download a copy of the "flashcard template." Fill out the rows with the data you want to import. Save your file. </li>
					<li>Click on "Browse..."</li>
					<li>Select the file to upload and hit Submit.</li>
					<li>You should see a message confirming success.</li>
				</ol>
			</li>
		</ol>
	</li>
</ol>

<h2>A word about templates</h2>
<p>When you set up a Collection, you are prompted to choose a <b>Template</b>.  A template determines the fields that will display on the cards in the decks in that collection.   In the Art History Template, for example, there is a place in the layout of the card that will display an image. 

<p>The current templates are as follows:</p>

<ol class="help">
	<li><b>Default</b>: A basic template that allows a term on the front of the card, and a definition on the back. Useful for learning vocabulary.</li>
	<li><b>Art History</b>: A Template for studying images. An image can be displayed on the front. The fields on the back can include Artist, Date, Title, Materials and Location.</li>
	<li><b>Language with Audio</b>: A Template for studying terms with accompanying audio.  It could be used to study vocabulary along with pronunciation. The front can display a term, and a sound recording.  The back displays the definition. </li>
</ol>

</div>
</div>
</div>
</div>

{% endblock %}
