{% extends "base.html" %}

{% block content %}
<style>
.collection-sidenav ul {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border: solid gray 1px; 
	border-radius: 5px;
}
.collection-sidenav ul li a {
	padding: 9px 15px;
	border: solid 1px;
	border-radius: 5px;	
	border-color: #AAAAAA;
}
.collection-sidenav ul li a:hover {
	background-color: #DDDDDD;	
}
.collection-sidenav ul li ul.inline {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
.collection-sidenav ul li ul li{
	padding: 0px;
	margin: 0px;
}
.collection-sidenav ul li ul li button{
	margin: 5px;
}
.active-collection {
	background-color: #DDDDDD;
}

.collection-decks-section {
	border: solid gray 1px; 
	border-radius: 5px;
}
.cds-top {
	padding: 20px;
	background-color: #CCCCCC;
}
.cds-bottom {
	padding: 20px;

}
.cds-bottom ul li {
	font-weight: bold;
	text-align: center;
	/* background: url("/img/deck.jpg"); */
	background-color: #CCCCCC;
	height: 70px;
	width: 110px;
	padding-top: 40px;
	margin: 10px;
	border: solid gray 1px;
	border-radius: 5px;
}
</style>
<div class="row-fluid">
	<nav class="span4 collection-sidenav">
		<ul class="nav nav-list affix collection-list">
			{% for collection in collections %}
			<li data-id="{{ collection.id }}"><a href="#course-{{ collection.id }}">{{ collection.title }}<i class="icon-chevron-right pull-right"></i></a></li>
			{% endfor %}
			{% if not collections %}
			<li><a href="#">No Collections</a></li>
			{% endif %}
			<li>
				<ul class="unstyled inline">
					<li><button id="add_collection_button" class="btn">+</button></li>
					<li><button id="delete_collection_confirm_button" class="btn">-</button></li>
					<li><button class="btn">++</button></li>
					<li><button class="btn">E</button></li>
				</ul>
			</li>
		</ul>
		
		
		<div id="collectionDeleteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="collectionDeleteModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="collectionDeleteModalLabel">Confirm Delete</h3>
		  </div>
		  <div class="modal-body">
		    <p>Are you sure you want to delete this Course?</p>
		  </div>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		    <button id="delete_collection_button" class="btn btn-error">Delete Course</button>
		  </div>
		</div>
	</nav>
	
	<section class="span8 collection-decks-section">
		<ul class="unstyled">
			{% for collection in collections %}
			<li id="course-{{ collection.id }}">
				<div class="cds-top">
					<h5>{{ collection.title }}</h5>
					<em>{{ collection.description }}</em>
				</div>
				<div class="cds-bottom">
					<ul class="inline">
						<li>+ Add new Deck</li>
						{% for deck in collection.deck_set.all %}
						<li>Week X</li>
						{% endfor %}
					</ul>
				</div>
			</li>
			{% endfor %}
			{% if not collections %}
			<li>
				<div class="cds-top">
					<h5>No Collections</h5>
				</div>
			</li>			
			{% endif %}
		</ul>
	</section>
</div>

<script>
$(document).ready(function(){
	$('#add_collection_button').click(function(){
		window.location = "/collection/create";
	});
	$('#delete_collection_confirm_button').click(function(){
		if($('.active-collection').length){
			$('#collectionDeleteModal').modal();
			
		}
	});
	$('#delete_collection_button').click(function(){
		collection_id = $('.active-collection').data("id");
		// send to the delete
		$.ajax({
			url: '/collection/delete',
			data: {id: collection_id},
			success: function(data, statusText){
				alert("success");
				$('#collectionDeleteModal').modal('hide');
			},
			error: function(request, statusText){
				alert("error");
			}
		});
	});
	$('.collection-list li a').click(function(){
		$('.active-collection').removeClass("active-collection");
		$(this).addClass("active-collection");
	});
});
</script>
{% endblock %}