{% extends "__layout_left_sidebar.html" %}

{% block main_content %}
<div id="content" data-module="">
    <div class="graph">
        <div class="courseHeader">
            <h3>User Experience</h3>
        </div>
        <div id="graphHolder">
            <img src='{% url "graph_collections" %}'/>
        </div>
    </div>
    <div class="graph">
        <div class="courseHeader">
            <h3>Registrations</h3>
        </div>
        <div id="graphHolder">
            <img src='{% url "graph_users" %}'/>
        </div>
    </div>
</div>
{% endblock %}
