{% load base_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="language" content="en" />
	{% block metatags %}{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Vollkorn">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/swiper.css?{% now "YmdHis" %}">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ring.css?{% now "YmdHis" %}">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css?{% now "YmdHis" %}">
	{% block css %}{% endblock %}

	<script src="{{ STATIC_URL }}js/lib/require.js"></script>

	{% include "_requirejs_config.html" %}

	<script>
	require(['modules/module-loader'], function(ModuleLoader) {
		ModuleLoader.loadAll("body");
	});
	</script>

	<title>{% block title %}Flashcards{% endblock %}</title>
</head>
<body data-module="main">
	<div class="container">
		{% block header %}
		<div id="fc_headerWrapper" class="sectionWrapper hide"><!-- sectionWrapper (start) -->
			<div id="fc_header" class="section"><!-- section (start) -->
				<a href="{% url 'index' %}"><img src="{{ STATIC_URL }}img/harvardLogo.png" alt="Harvard University" title="Harvard University" border="0" /></a>
				<ul id="userInfo">
					{% if user.is_authenticated %}
						<li><span class="{% if user.is_staff %}user-staff{% endif %}{% if user.is_superuser %}user-super{% endif %}">{{ user.email }}</span></li>
                        <li><a href="{% url 'logout' %}">Sign out</a></li>
					{% endif %}
				</ul>
			</div><!-- section (end) -->
		</div><!-- sectionWrapper (end) -->
		{% endblock %}

		{% block content %}{% endblock %}

		{% block footer %}{% endblock %}
	</div>
	<div class="footerNav" data-set="mobileNav"></div>
	<div id="bodymask" class="uil-ring-css mask" style="-webkit-transform:scale(1); display: none;"></div>
	{% block javascript %}{% endblock %}
</body>
</html>
