<!--div class="centerDiv-desktop"-->
<!--{% if field.type == 'T' %}
    <i class="fa fa-font fa-2x pull-left"></i>
{% elif field.type == 'I' %}
    <i class="fa fa-picture-o fa-2x pull-left"></i>
{% elif field.type == 'V' %}
    <i class="fa fa-film fa-2x pull-left"></i>
{% elif field.type == 'A' %}
    <i class="fa fa-microphone fa-2x pull-left"></i>
{% endif %}-->
	<div class="card-field">		
	    {% if field.type != 'I' %}
	    	<!-- not need to show a title for 'image', only show for other fields -->
			<div class="card-term {% if field.show_label %}field-label-show{% endif %} ">{{field.label}}:</div>
	    {% endif %}
	    <div class="card-definition">
	        {% if field.type == 'T' %}
	            {% if field.example_value %}
	                {{field.example_value}}
	            {% else %}
	                text
	            {% endif %}
	        {% elif field.type == 'I' %}
	            {% if field.example_value %}
	                <img src="{{field.example_value}}" alt="{{field.label}}" class="cardFieldImage" />
	            {% else %}
	                image
	            {% endif %}
	        {% elif field.type == 'V' %}
	            {% if field.example_value %}
					<video src="{{field.example_value}}" alt="{{field.label}}" controls>
						Your browser does not support the <code>video</code> element.
					</video>
	            {% else %}
	                video
	            {% endif %}
	        {% elif field.type == 'A' %}
	            {% if field.example_value %}
					<audio alt="{{field.label}}" controls="controls" preload="auto">
						<source src="{{field.example_value}}" />
						Your browser does not support the <code>audio</code> element.
					</audio>
	            {% else %}
	                audio
	            {% endif %}
			{% elif field.type == 'M' %}
	            {% if field.example_value %}
	                {{field.example_value}}
	            {% else %}
	                math
	            {% endif %}				
	        {% endif %}
	    </div>
	</div>
<!--/div-->
