<script>
requirejs.config({
    baseUrl: "{{ STATIC_URL }}js",
    paths: {
        'jquery'              : 'lib/jquery-1.11.0', //=> http://code.jquery.com/jquery-1.11.0.min
        'jquery.appendAround' : 'lib/jquery.appendAround', //=> http://raw.github.com/filamentgroup/AppendAround/master/appendAround
        'jquery.cookie'       : 'lib/jquery.cookie.min', //=> //cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min
        'jquery.jeditable'    : 'lib/jquery.jeditable', //=> //cdnjs.cloudflare.com/ajax/libs/jeditable.js/1.7.3/jeditable.min.js
        'jquery.form'         : 'lib/jquery.form', //=> http://malsup.github.io/jquery.form
        'jquery.mobile'       : 'lib/jquery.mobile-1.4.4', //=> http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js
        'jquery.mousewheel'   : 'lib/jquery.mousewheel', //=> //cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.6/jquery.mousewheel.min
        'jquery.scrollTo'     : 'lib/jquery.scrollTo', //=> //cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.11/jquery.scrollTo.min.js
        'jquery.flot'         : 'lib/flot/jquery.flot.min',
        'jquery.flot.time'    : 'lib/flot/jquery.flot.time.min',
        'jqueryui'            : 'lib/jquery-ui.min', //=> http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui
        'mathjax'             : '//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML',
        'lodash'              : 'lib/lodash', //=> //cdnjs.cloudflare.com/ajax/libs/lodash.js/1.3.1/lodash'
        'microevent'          : 'lib/microevent', //=> https://raw.githubusercontent.com/jeromeetienne/microevent.js/master/microevent.js
        'swiper'               : 'lib/swiper' //=> //cdnjs.cloudflare.com/ajax/libs/Swiper/3.0.5/js/swiper.js
    },
    shim: {
        'jquery' : '$', 
        'jqueryui': {
            deps: ['jquery'],
            exports: 'jQuery.ui'
        },
        'jquery.jeditable': {
            deps: ['jquery'],
            exports: 'jQuery.fn.editable'
        },
        'jquery.cookie': {
            deps: ['jquery'],
            exports: 'jQuery.fn.cookie'
        },
        'jquery.form': {
            deps: ['jquery'],
            exports: 'jQuery.fn.form'
        },
        'jquery.scrollTo': {
            deps: ['jquery'],
            exports: 'jQuery.fn.scrollTo'
        },
        'jquery.flot': {
            deps: ['jquery'],
            exports: 'jQuery.fn.flot'
        },
        'jquery.flot.time': {
            deps: ['jquery.flot']
        },
        'mathjax': {
            deps: [],
            exports: 'MathJax'
        },
        'lodash' : '_'
    },
    config: {
        'models/API': {
            apiKey: null, {# TODO: not implemented yet #}
            apiRoot: "{% url 'apiRoot' %}"
        }
    },
    {% if debug %}
    'urlArgs': ('t='+(new Date().getTime()))
    {% endif %}
});
</script>
