{% extends "__layout_left_sidebar.html" %}

{% block javascript %}
<script>
{% autoescape off %}
var GRAPH_DATA = {{graphs}};
{% endautoescape %}
</script>
{% endblock %}

{% block main_content %}
<div id="content" data-module="stats-graphs">
    <div class="graph">
        <div class="courseHeader">
            <h3>Registrations</h3>
        </div>
        <div id="registrationGraph" class="graphHolder" style="height: 400px"></div>
    </div>
    <div class="graph">
        <div class="courseHeader">
            <h3>User Experience</h3>
        </div>
        <div id="userExperienceGraph" class="graphHolder" style="height: 400px"></div>
    </div>
</div>
{% endblock %}
