@font-face {
    font-family: 'League Gothic';
    src: url('../webfonts/leaguegothic-regular-webfont.eot');
    src: url('../webfonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../webfonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../webfonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear { clear:both; }

body{
	background: transparent url('../img/backgrundTile.png') left top;
	font-family: 'Vollkorn', Times, serif;
	color: #4c4c4c;
}

img { max-width: 100% }

/* FONTS */
h1, h2, h3, h4
, a#addAcourse
, a#addCard
, .addCards{
	font-family: 'League Gothic', Arial, sans-serif;
}
	h1{ font-size: 2.1em; }
	h1#appTitle { padding: 0.25em 0; }

	h2{ font-size: 1.875em; }
	li.deck h2 { color: #293352; }
	.courseHeader a {
		color:#4c4c4c !important;
	}

	/* fonts for deck view/review course headers only (start) */
	h2.courseTitle{
		background: url('../img/courseTitleBreadCrumb.png') no-repeat right 50%;
		display: inline-block;
		float: none !important;
		padding-right: 0.5em;
		margin-right: 0.25em;
	}

	h2.courseTitle > a { text-decoration: none }

	.courseHeader h3 {
		display:inline-block;
		font-size: 1.5625em;
		color: #a51c30;
	}

	.breadcrumbs {
		display: block;
		font-family: 'League Gothic', Arial, sans-serif;
		margin-bottom: 1em;
		font-size: 2.1em;
		padding: .25em 0;
	}
	.breadcrumbs li {
		float: left;
		margin: 0;
		list-style-type: none;
	}
	.breadcrumbs li .fa-angle-right {
		margin: 0 .25em;
	}
	.breadcrumbs li .fa-pencil {
		font-size: .5em;
	}
	.breadcrumbs li a,
	.breadcrumbs li a:visited,
	.breadcrumbs li a:hover {
		text-decoration: none;
		color: inherit;
	}
	.breadcrumbs li:last-of-type:not(:first-of-type) a,
	.breadcrumbs li:last-of-type:not(:first-of-type) span {
		color: #a51c30 !important;
	}


	/* fonts for deck view/review course headers only (end) */
#cardForm
, #cardForm h1
, #singleCardHolder
, #singleCardHolder h1
, .emptySlider h3{
	font-family: 'Vollkorn', Times, serif;
}
/* FONTS (end) */
/* floats */
.float-left{
	float: left;
}

.float-right{
	float: right;
}
/* floats (end) */

/* form (start) */
.form-input{
	padding: 0.25em;
}
.form-help{
	font-style: italic;
	font-size: 0.75em;
	display: block;
	padding: 0.25em;
}
#cardForm .field-error,
 #deckForm .field-error,
 #customForm .field-error{
    color: red;
}
#cardForm .formMessage,
 #deckForm .formMessage,
  #customForm .formMessage{
	text-align: left;
	margin: 1em 0;
	padding: 1em;
	color: #333;
}
#cardForm .formMessage.error,
#deckForm .formMessage.error,
#customForm .formMessage.error { background-color: rgba(255,0,0,0.3); }
#cardForm .formMessage.success { background-color: rgba(0,255,0,0.3); }
#cardForm .formMessage.info { background-color: rgba(0,0,255,0.3); }

/* form (end) */

#fc_headerWrapper{
	background-color:#1e1e1e;
}

	#fc_header img{
		float: left;
	}

.sectionWrapper{
	width: 100%;
	float: left;
	display: inline-block;
}

	.section img{
		padding: 0.375em 0;
	}

	ul#userInfo{
		float: right;
		display: inline-block;
		font-family:Arial, Helvetica, sans-serif;
		color: #f3f3f1;
		font-size: 0.75em;
		display: none;
	}

		ul#userInfo li{
			display: inline-block;
			list-style: none;
		}
			ul#userInfo li span{
				padding: 0 0.5em;
			}

		ul#userInfo li a{
			display: inline-block;
			padding: 1.11em 1em ;
			text-decoration: none;
			background-color: #414141;
			color: #f3f3f1;
			border-right: solid 1px #5f5e5e;
			border-left: solid 1px #5f5e5e;
		}

.contentWrapper{
	display: inline-block;
}

	#content{
		float: left;
		display: inline-block;
		/*background-color: #C99;*/
	}
	#contentHere{
		position: absolute;
		text-indent: -3000px;
	}

/********** main nav (start) *************/
.skipNav{
	/*position: absolute;
	text-indent: -3000px;*/
}

#navigation{
	float: left;
	width: 16.666666666667%;
	/*background-color: #0CF;*/
}

	#navigation nav > ul a
	, .footerNav ul li a{
		font-family: 'Vollkorn', Times, serif;
		font-size: 1.25em;
		color: #4c4c4c;
		text-decoration: none;
		line-height: 1.15em;
		display: inline-block;
		width:90%;
		padding: 0.25em 0 0.25em 10%;
	}
		#navigation nav > ul a:hover
		, .footerNav ul li a:hover {
			background: url('../img/mainNavHover.png') repeat-y left top;
		}
		#navigation nav > ul a.active
		, .footerNav ul li a.active {
			background: url('../img/mainNavActive.png') repeat-y left top;
		}

	#navigation nav ul ul a
	, .footerNav ul ul li a
	, .contentFont{
		font-family: Arial, Helvetica, san-serif;
		font-size: 0.9em;
		color: #4c4c4c;
		text-decoration: none;
		width: 80%;
		padding: 0.3em 0 0.3em 20%;
	}

    #navigation .collectionNavItem {
        margin-left: 5%;    
    }

		#navigation nav ul ul a:hover
		, .footerNav ul ul li a:hover{
			background: transparent url('../img/subNavHover.png') no-repeat 2em 0.65em;
		}
		#navigation nav ul ul a.active
		, .footerNav ul ul li a.active{
			background: transparent url('../img/subNavActive.png') no-repeat 2em 0.65em;
		}
/********** main nav (end) *************/

a#addAcourse
/*, a#addCard*/{
	text-align: center;
	text-decoration: none;
	display: block;
	width: 20%;
	font-size: 1.875em;
	color: #4c4c4c;
	border: 2px dashed #838383;
	text-transform:uppercase;
	margin: 0;
	padding: 0.25em 10%;
}

ul.addACourseContent > li {
    display: block;
    height: 200px;
    width: 27%;
    margin-left: 3%;
    float: left;
    border-right: 1px solid #aaa;
}
ul.addACourseContent > li:last-child {
    border-right: none;
}
ul.addACourseContent h2,
ul.addACourseContent div {
    margin: 0 0 10px 0;
}


/*a#addCard{
	margin: 0;
	padding: 1em 2%;
	width: 8%;
	float: left;
}*/
/********** new Add Card and Upload Cards (start) ***********/
.addCards{
	margin: 0;
	width: 12%;
	float: left;
}
.btn-dashed{
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 1.575em;
	color: #4c4c4c;
	border: 2px dashed #838383;
	text-transform:uppercase;
	margin: 0 auto 0.25em;
	padding: 0.59em 5%;
	width: 90%;
}
	.btn-dashed:hover{
		background-color: #d2d2d2;
		border:2px solid #999797;
		color: #a51c30;
	}
	
/********** new Add Card and Upload Cards (end) ***********/

/********** hp course ROW (start) ***********/
.courseWrapper{ 
	display: inline-block; 
	width: 100%; 
	margin-bottom: 1em;
}
.courseHeader{
	width: 100%;
	border-bottom: solid 2px #4c4c4c;
	display: inline-block;
	margin-bottom: 1em;
}
.courseHeaderClickable {
    padding: .5em 0;
    cursor: pointer;
    background-color: lightgrey;
}
.courseHeaderClickable > .plusminus,
.courseHeaderClickable > .adminMenuRight {
    margin-left: .5em;
    margin-right: .5em;
}
.addCourseWrapper{
	display: none;
}
.courseHeader h2{
	float: left;
}

	/* decks on homepage (start)*/
	ul.courseDecks
	, ul.templateDecks { display: inline-block; width: 100%; }
	ul.courseDecks li{
		background: #eeeded url('../img/deckBkg.jpg') no-repeat 50% 50%;
		text-align: center;
		border: solid 1px #e1dfdf;
		position: relative;
	}
    .deck.add {
        border: 2px dashed #838383;
        line-height: 67px;
        margin: 10px;
    }
    .deck.add a {
        display: block;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        text-transform:uppercase;
        text-decoration: none;
        text-align: center;
        vertical-align:middle;
        font-size: 1.875em;
        font-family: 'League Gothic', Arial, sans-serif;
        color: #4c4c4c;
    }
    deck.add a:hover {
        color: #a51c30;
    }
	/* template deck (start) */
	ul.templateDecks li{
		background: none;
		text-align: center;
		border: dashed 2px #838383;
		position: relative;
	}
		a.template{
			display: inline-block;
			width: 100%;
			height: 167px;
			text-decoration: none;
		}
			a.template:hover h2{
				color: #A51C30;
			}
	/* template deck (end) */
	/*	li.deck { height: 167px; } */
    li.deck {
        padding: 15px;
    }
    .deck dl {
        width: 100%;
    }
    .deck dl dt {
        font-weight: normal;
        float:left;
        width:40%;
    }
    .deck dl dd {
        float:left;
        width:20%;
        text-align: right;
    }

    i.plusminus {
        vertical-align: 0%;
    }

    .courseBody {
        margin-bottom: 30px;
    }


		ul.courseDecks h2
		, ul.templateDecks h2 { padding: 0.25em 0; }
		ul.courseDecks h3{display: inline;}
		p.lastUpdated { font-style: italic; margin-bottom: 1em; }


		/* arrows (start) */
		.arrow{
			display: inline-block;
			float: right;
			background-color: #f3f3f3;
		}

		.arrowExpand {
			border-top: solid 1px #e1dfdf;
			position: absolute;
			bottom: 0;
			right: 0;
		}
		/* arrows (end) */

		ul.deckMenu{
			/*display: none;*/
			display: inline-block;
			width: 100%;
			bottom: 0;
			position: absolute;
			left: 0;
		}

			ul.deckMenu li{
				width: 50%;
				float: left;
				display: inline-block;
				background: none;
				/*background-color: #f8f8f7;*/
				border: 0;
				margin:0;
			}

			ul.deckMenu li.arrowContainer{
				width: 100%;
				border-bottom: 0;
			}

			.viewReview{
                padding: 0 0 0 0.25em;
                display: inline-block;
                color: #4e84c4;
                font-family: 'League Gothic';
                font-size: 1.75em;
                text-decoration: none;
			}
			a.viewReview:hover{
				color: #a51c30;
			}
			
		.openDeckMenu{
			width: 100%;
			z-index: 1;
			position: relative;
			border-top: solid 1px #e1dfdf;
			background-color: #f8f8f7;
		}
	/* decks on homepage (end)*/

/********** hp course ROW (end) *************/
/********** admin menus i.e edit/delete/share (start) ***********/
ul.adminMenu
, ul.sliderNavNextPrev{
	display: inline-block;
	float: left;
	margin-left: 1em;
}

	ul.sliderNavNextPrev{
		width: 100%;
		margin-left: 5%;
		margin-right: 5%;
	}

	ul.adminMenuRight{
		float: right;
		margin-right: 0em;
	}

	ul.adminMenu li {
		display: inline-block;
		margin-right: 0.25em;
	}

	/*ul.adminMenuRight li { margin: 0; } no margin needed for right hand menu*/

	.adminMenuBtn {
		display: inline-block;
		padding: 0.5em 1em;
		color: #444444;
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif !important;
		font-weight:700 !important;
		font-size: 0.75em !important;
		background-color: #f5f5f5;
		background-image: url('../img/adminMenuFallBackImg.jpg');
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f1f1), to(#f5f5f5));
		background-image: -webkit-linear-gradient(top, #f1f1f1, #f5f5f5);
		background-image:    -moz-linear-gradient(top, #f1f1f1, #f5f5f5);
		background-image:     -ms-linear-gradient(top, #f1f1f1, #f5f5f5);
		background-image:      -o-linear-gradient(top, #f1f1f1, #f5f5f5);
		border: solid 1px #dcdcdc;
		cursor: pointer;
	}

	ul.adminMenu li a.down
	, .adminMenuBtn.down
	, li.sliderPrev a.down
	, li.sliderNext a.down
	, a.reveal.down
	, .controls a.down
	, .courseHeader div a.down{
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c1c1c1), to(#f5f5f5));
		background-image: -webkit-linear-gradient(top, #c1c1c1, #f5f5f5);
		background-image:    -moz-linear-gradient(top, #c1c1c1, #f5f5f5);
		background-image:     -ms-linear-gradient(top, #c1c1c1, #f5f5f5);
		background-image:      -o-linear-gradient(top, #c1c1c1, #f5f5f5);
	}
    .control-text { margin-left: 4px }

		li.sliderPrev {
			float: left;
		}
		li.sliderNext {
			float: right;
		}

	.disable{
		-webkit-opacity: 0.25;
		-moz-opacity: 0.25;
		opacity: 0.25;
	}
/********** admin menus i.e edit/delete/share (end) *************/

/********** cards inside a deck view (start) *************/
#cardSlider
, #cardSliderNotAdmin{
	/*display: inline-block;
	float: left;*/
	display: none;
	background-color: #f3f3f1;
	border: solid 1px #e1dfdf;
	padding: 0.5em 4.976851851852%;
	position: relative;
}

.cardHolder{
	display: inline-block;
	width: 100%;
	overflow: hidden;
	float: left;
}

ul#cards{
	display: inline-block;
	float: left;
	width: 100%;
	position: relative;
	-webkit-transition: 0.5s left;
	-moz-transition: 0.5s left;
	-ms-transition: 0.5s left;
	-o-transition: 0.5s left;
	list-style: none;
	margin: 0;
	padding: 0;
}

	ul#cards li{
		display: inline-block;
		width: 19%;
		margin-right: 1%;
		float: left;
		border:solid 6px #d2d2d2;
	}

		ul#cards li.card{
			display: block;
			width: 100%;
			overflow: hidden;
            padding: 0.8em 0%;
            height: 4.3375em;
            text-align: center;
            vertical-align: middle;
            line-height: 5.9375em; /* should be same as the div height */
            text-decoration: none;
            cursor: pointer;
        }
        ul#cards li.card-clicked {
            border: solid 0.375em #4d4d4d;
        }
        ul#cards li.card-image {
            padding: 0;
            height: 5.9375em;
        }
        ul#cards li.card img{
            max-height: 100%;
            padding:0;
        }
		ul#cards li:hover,ul#cards li.clicked{
			border: solid 0.375em #4d4d4d;
		}
        .card-color-default, .card-color-white { background-color: #fff; color: #a51c30; }
        .card-color-blue { background-color: #AFE6F1; color: #000; }
        .card-color-pink { background-color: #FCB0BA; color: #000; }
        .card-color-green { background-color: #CED665; color: #000; }
        .card-color-orange { background-color: #EFA545; color: #000; }

div.deckNav{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 0.5em;
}

	ul.deckNavNextPrev li{
		display: inline-block;
	}

	.sliderBtns{
		position: absolute;
		top: 0;
		padding-top: 0.5em;
		width: 4.75%;
	}

	li.deckPrev
	, div.deckPrev{
		float: left;
		left: 0;
	}

		div.deckPrev a:hover
		, div.deckNext a:hover{
			background-color: #d2d2d2;
			color: #a51c30;
		}

			.sliderBtns a {
				display: block;
				width: 100%;
				text-align: center;
				font-size: 2em;
				padding: 0.25em 0;
				color: #4c4c4c;
			}

			.sliderBtns a span{
				position: absolute;
				left: -3000px;
			}

		/*li.deckPrev a
		, div.deckPrev a{
			background: transparent url('../img/deckNavPrev.png') no-repeat center 50%;
			text-indent: -30000px;
			display: inline-block;
			height: 106px;
			width: 40px;
		}*/

	li.deckNext
	, div.deckNext{
		float: right;
		right: 0;
	}

		/*li.deckNext a
		, div.deckNext a{
			background: transparent url('../img/courseTitleBreadCrumb.png') no-repeat center 50%;
			text-indent: -30000px;
			display: inline-block;
			height: 106px;
			width: 40px;
		}*/
#graphHolder{
	border: solid 1px #eae9e8;
	background: #f3f3f1;
}
#graphHolder img{
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.graph {
	padding: .5% .5% .5% .5%;
}
/*full card (start) */
#singleCardHolder, #cardForm{
	width: 94.5%;
	display: inline-block;
	background: #f3f3f1;
	float: left;
	padding: 2.5% 2.5% 2.5% 2.5%;
	margin-top: 1em;
	border: solid 1px #eae9e8;
	position: relative;
}
	#counterHolder{
		display: block;
		position: absolute;
		padding: 0;
		background-color: #A51C30;
		text-align: center;
		font-size: 1em;
		left: 0;
		z-index: 1;
		font-family: Arial,Helvetica,san-serif;
		font-size: 1em;
		color: #fff;
	}
		#counter{
			display: block;
			padding: 1em 0.5em;
		}

#singleCardHolder ul
, #singleCardHolder ul li
, #cardForm ul
, #cardForm ul li{
	display: inline-block;
	width: 100%;
	float: left;
}

	.showRevealWrapper, .editFields{
		width: 98%;
		text-align: center;
		padding: 1.25em 1%;
	}

	.hideRevealHr{
		width: 100%;
		background: transparent url('../img/hideRevealLine.png') repeat left top;
		text-align: center;
		padding: 0.25em 0;
		height: 1.625em;
	}
	#singleCardHolder ul li.hide,
	#cardForm ul li.hide{
		display: none;
	}

	#singleCardHolder ul li.show,
	#singleCardHolder ul li.show{
		display: block;

	}
	.hide{
		display: none;
	}

	.show{
		display: block;

	}
/*full card (end) */

/* cards UI view (start) */
.card-field{ 
	display: inline-block;
	width: 90%;
	padding: 0.5em 5%;
	margin-bottom: 0.25em;
}

/*.card-field:nth-child(even){
	background-color: #f7f7f7;
	border-bottom: 1px solid rgb(236, 236, 236);
}*/

.card-term{
	text-align: right;
	font-size: 1.25em;
	padding-bottom: 0.1em;
	width: 20%;
	float: left;
}

.card-definition{
	font-family: Arial;
	font-size: 0.9em;
	text-align: left;
	width: 78%;
	float: left;
	margin-left: 2%;
	line-height: 1.5;
}
/* cards UI view (end) */

/********** cards inside a deck view (end) *************/

/* mobile nav icon (start) */
a#mobileMenu{
	float: left;
	display: block;
	padding: 1.25em 1em 0.25em 0.5em;
	color: #a51c30;
}
/* mobile nav icon (end) */

	.footerNav {
		display:block;
		float: left;
		width: 100%;
	}

	.desktopNav { display:none; }

	.footerNav ul
	, .footerNav ul li{
		width: 100%;
		border-top: solid 1px #e1dfdf;
	}

	.footerNav ul li a{
		width: 90%;
		padding: 0.5em 5%;
		display: inline-block;
	}

		.footerNav ul ul li{
			border-top: 0;
		}

		.footerNav ul ul li a{
			padding-bottom: 0.75em;
			padding-left: 8%;
			padding-right: 8%;
			width: 84%;
		}

		.footerNav ul ul li a:hover
		, .footerNav ul ul li a.active{
			background-position: 4% 0.65em;
		}

.fullcardBtns{
	position: fixed;
	bottom: 0;
	z-index: 1;
	width: 98%;
	text-align: center;
}

.fullcardBtns a{
	background: #4e84c4;
	padding: 0.5em 2%;
	display: inline-block;
	/*-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;*/
	color: #f3f3f1;
	font-family: 'League Gothic';
	font-size: 1em;
	text-transform: uppercase;
	text-decoration: none;
}
	.fullcardBtns .fa{
		margin-right: 5%;
	}
	
	.mobileFirst{
		float:left;
	}
	.mobile{
	}
	.mobile{
		
	}
	.mobileLast{
		float:right;
	}

/********** add a course interface *************/
#cardTemplateContainer {
     border: 1px solid #999;
     margin: 1em 0;
     padding: 1em;
}
#cardTemplateContainer .field-label { margin-right: 5px; }
#cardTemplateContainer .field-label:after { content: ":"; }
#cardTemplateContainer .field-value { color: darkgray; }

/********** help styling ***********/
.help-content {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1;
	font-weight: normal;
	text-align: left;
	color: #464646;
	margin: 1em 0;
}
.help-content p { margin: 1em 0; }
.help-content b { font-weight: bold; }
ol.help {
	list-style-type:none;
	list-style-type: decimal !ie; /* IE 7- hack */

	margin: 0;
	margin-left: 3em;
	padding: 0;

	counter-reset: ol-counter;
}
ol.help > li {
	position: relative;
	margin-bottom: 20px;
	padding-left: 0.5em;
	min-height: 2em;
	border-left: 2px solid #CCC;
}
ol.help > li:before {
	position: absolute;
	top: 0;
	left: -1em;
	width: 0.8em;

	font-family:Arial, Helvetica, sans-serif;
	font-size: 2em;
	line-height: 1;
	font-weight: bold;
	text-align: right;
	color: #464646;

	content: counter(ol-counter);
	counter-increment: ol-counter;
}
ol.help > li > ol {
	position: relative;
	list-style-type: none;
	list-style-type: lower-alpha;
	margin-left: 3em;
}
ol.help > li > ol > li > ol {
	position: relative;
	list-style-type: none;
	list-style-type: lower-roman;
	margin-left: 3em;
}

/********** misc utils *************/
.errorlist {
	color: red;
}
.ajax-loader {
	background: transparent url('../img/ajax-loader.gif') no-repeat;
	width: 16px;
	height: 16px;
	padding-left: 20px;
}
.ajax-loader.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -16px;
	margin-top: -16px;
}

.jq-editable-courseHeader input {
	font-size: 1em;
	font-family: 'League Gothic', Arial, sans-serif;
	color: #a51c30 !important;
	background: transparent;
	padding: 2px;
	margin: 2px;
}

#sortable-decks {
    margin: 10px 0 20px 0;
	display: inline-block;
}
#sortable-decks > li {
    margin: 0px 0 0 15px;
	min-width: 300px;
	padding: 5px 15px 5px 15px;
	background: #fff;
    border-top: 1px solid #ccc;
    border-left: 3px solid #ccc;
    border-right: 3px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#sortable-decks > li:hover {
	color: #a51c30;
	cursor: move;
}

@media screen and (min-width: 320px){
/*
* iPhone portrait
*/
	/*body{ background-color: blue; background-image:none; }*/

	.section{
		padding: 0 1%;
		width: 98%;
	}

	.contentWrapper{
		width: 100%;
		/*background-color:#990066;*/
	}

	#navigation
	, a#addCard 
	, .addCards{ display: none; }

	#content{
		width: 100%;
		padding: 0%;
	}

	ul.courseDecks li{
		width: 90%;
		padding: 0;
		display: inline-block;
		/*margin: 0 5%;*/
		float: left;
	}

	.arrow{
		width: 25%;/* today */
		border-left: solid 1px #e1dfdf;
		padding: 1em 0;
	}

	.arrowExpand { border-top: solid 1px #e1dfdf;}

	.arrowCollapse { border-bottom: solid 1px #e1dfdf; }

	ul.deckMenu li {
		margin: 0;
		width: 50%;
		padding: 0;
		display: inline-block;
	}

	/********** slider (start) *************/
	.test > ul{
		position: relative;
		-webkit-transition: 0.5s left;
		-moz-transition: 0.5s left;
		-ms-transition: 0.5s left;
		-o-transition: 0.5s left;
	}
	.slider {
	  width: 90%;
	  /*height: 300px;*/
	  overflow: hidden;
	  margin: 0 5%;
	}
	  .slider > ul{
		/* styled by JS to match the added width and height of all <li>s */
		position: relative;
		-webkit-transition: 0.5s left;
		-moz-transition: 0.5s left;
		-ms-transition: 0.5s left;
		-o-transition: 0.5s left;

		list-style: none;
		margin: 0; padding: 0;
	  }
		.slider > ul > li
		, li.deck {
		  /*float: left;
		  width: 400px;
		  height: 300px;
		  margin: 0 ;*/
		}

	.openDeckMenu{
		margin-top: -40px;
		height: 144px;
	}

	.sliderNav{
		display: inline-block;
		width: 90%;
		margin-top: 1em;
	}
	/********** slider (end) *************/


	#cardSlider
	, #cardSliderNotAdmin{
		margin: 0;
		width: 90.046296296296%;
	}

	/* in moblie mode - use visibility for cars on the main
	   content area so they can slide */
	#singleCardHolder ul li.hide{
		visibility: visible;
	}
	
	#singleCardHolder ul li.show{
		visibility: visible;
	}	
}
@media screen and (min-width: 480px){
/*
* iPhone landscape
*/
	/*body{ background-color: yellow; background-image:none; }*/
	.section{
		padding: 0 1%;
		width: 98%;
	}

	#navigation
	, a#addCard
	, .addCards { display: none; }

	#content{
		width: 100%;
		padding: 0%;
	}

	ul.courseDecks li{
		width: 90%;
		padding: 0;
		display: inline-block;
		/*margin: 0 5%;*/
	}

	.arrow{
		width: 25%;/* today */
		padding: 1em 0;
	}

	.arrowExpand { border-top: solid 1px #e1dfdf;}

	.arrowCollapse { border-bottom: solid 1px #e1dfdf; }

	ul.deckMenu li {
		margin: 0;
		width: 50%;
		padding: 0;
		display: inline-block;
	}

	.sliderNav {
		display: inline-block;
		width: 90%;
		margin-top: 1em;
	}

	.openDeckMenu{
		margin-top: -40px;
		height: 144px;
	}


#cardSlider
, #cardSliderNotAdmin{
	margin: 0;
	width: 90.046296296296%;
}

}
@media screen and (min-width: 768px){
/*
* iPad Portrait
*/
	/*body{ background-color: orange; background-image:none;}*/

	.section{
		padding: 0 1%;
		width: 98%;
	}

	ul#userInfo{
		display: block;
	}

	#navigation
	, a#addCard
	, .addCards { display: none; }

	#content{
		width: 100%;
		padding: 0%;
	}

	ul.courseDecks li{
		width: 30%;
		padding: 0;
		margin: 0 3.5% 1em 0;
		display: inline-block;
	}

		ul.courseDecks li.deck:nth-child(3n){ /*every third child */
			margin-right: 0;
		}
		/*every 3+1 so each new row starting from 1*/
		ul.courseDecks li.deck:nth-child(3n+1){
			clear:left;
		}

		ul.courseDecks li.deck.add {
			border: 2px dashed #838383;
			line-height: 167px;
			padding: 0;
			background: none;
		}
		ul.courseDecks li.deck.add a {
			display: block;
			padding: 0;
			margin: 0;
			width: 100%;
			height: 100%;
			text-transform:uppercase;
			text-decoration: none;
			text-align: center;
			vertical-align:middle;
			font-size: 1.875em;
			font-family: 'League Gothic', Arial, sans-serif;
			color: #4c4c4c;
		}
		ul.courseDecks li.deck.add a:hover {
			color: #a51c30;
		}

	.arrow{
		padding: 5% 0%;
		width: 25%;
	}

	.arrowExpand {
		border-top: solid 1px #e1dfdf;
		border-left: solid 1px #e1dfdf;
	}

	.arrowCollapse{
		border-left: solid 1px #e1dfdf;
		border-bottom: solid 1px #e1dfdf;
	}

	ul.deckMenu li {
		width: 50%;
		padding: 0;
		display: inline-block;
		margin: 0;
	}

	.sliderNav {
		display: inline-block;
		width: 90%;
		margin-top: 1em;
	}

	.openDeckMenu{
		margin-top: -30px;
		height: 134px;
	}


	#cardSlider
	, #cardSliderNotAdmin{
		margin: 0;
		width: 90.046296296296%;
	}

	.footerNav ul li a{
		padding: 0.5em 2%;
		width: 96%;
	}

	.footerNav ul ul li a{
		padding-left: 5%;
		padding-right: 5%;
		width: 90%;
	}

	.footerNav ul ul li a:hover
	,.footerNav ul ul li a.active {
		background-position: 3% 0.65em;
	}
	
	/* in desktop mode - hide show cars on the main
	   content area instead of sliding */
	#singleCardHolder ul li.hide{
		display: none;
	}
	
	#singleCardHolder ul li.show{
		display: block;
	}
	
	/*hiddent the slider navigation menu for small screen size */
	.fullcardBtns{
		display: none;
	}
	
	#cardSlider
	, #cardSliderNotAdmin{
		display: inline-block;
		
	}
}
@media screen and (min-width: 1024px){
/*
 * this break point is for normal size desktop view so it's all fluid
*/
	/*body{ background-color: gray; background-image:none;}*/

	.section{
		padding: 0 1%;
		width: 98%;
	}

	ul#userInfo{
		display: block;
	}

	#navigation
	, a#addCard
	, .addCards { display: inline-block; }

	#content{
		width: 80.333333333333%;
		padding-left: 3%;
	}

	ul.courseDecks li
	, ul.templateDecks li{
		width: 21.744791666667%;
		margin: 0 3.5% 1em 0;
		display: inline-block;
	}

		ul.courseDecks li.deck:nth-child(3n){ /*every fourth child */
			margin-right: 3.5%;
		}
		/*every 4+1 so each new row starting from 1*/
		ul.courseDecks li.deck:nth-child(3n+1){
			clear:none;
		}

		ul.courseDecks li.deck:nth-child(4n){ /*every fourth child */
			margin-right: 0;
		}
		/*every 4+1 so each new row starting from 1*/
		ul.courseDecks li.deck:nth-child(4n+1){
			clear:left;
		}

	.arrow{
		padding: 5% 0%;
		width: 30%;
	}

	.arrowExpand {
		border-top: solid 1px #e1dfdf;
		border-left: solid 1px #e1dfdf;
	}

	.arrowCollapse{
		border-left: solid 1px #e1dfdf;
		border-bottom: solid 1px #e1dfdf;
	}

	ul.deckMenu li {
		width: 50%;
		padding: 0;
		display: inline-block;
		margin: 0;
	}

	.sliderNav { display: none; }

	.openDeckMenu{
		margin-top: -30px;
		height: 134px;
	}


	#cardSlider{
		margin-left: 1.634320735444%;
		width: 75.647090735224%;
	}

	#cardSliderNotAdmin{
		/*display: inline-block;*/
		float: left;
		background-color: #f3f3f1;
		border: solid 1px #e1dfdf;
		padding: 0.5em 4.75%;
		position: relative;
        margin: 0;
		width: 90.046296296296%;
	}

	/* mobile nav icon (start) */
	a#mobileMenu{
		float: left;
		display: none;
	}
	/* mobile nav icon (end) */

	.footerNav { display:none; }

	.desktopNav { display:block; }
}

@media screen and (min-width: 1024px){
	#navigation nav ul ul a.active, .footerNav ul ul li a.active
	, #navigation nav ul ul a:hover, .footerNav ul ul li a:hover{
		background-position: 1.5em 0.65em;
	}
}

@media screen and (min-width: 1280px){
/*
 * for desktop that has huge monitors will fix the width at 1280px
*/
	/*body{ background-color: green;  background-image:none;}*/

	/*#fc_header { background-color: red; }*/

	.section{
		/*padding: 0 16px;*/
		width: 1253px;
		margin: 0 auto;
	}

	ul#userInfo{
		display: block;
	}

	.contentWrapper{
		width: 100%;
		/*background-color:#990066;*/
	}

	#navigation
	, a#addCard
	, .addCards { display: inline-block; }

	#content{
		width: 80.333333333333%;
		padding-left: 3%;
	}

	ul.courseDecks li
	, ul.templateDecks li{
		width: 21.744791666667%;
		margin: 0 3.5% 1em 0;
		display: inline-block;
	}

	.arrow{
		padding: 5% 0%;
		width: 30%;
	}

	.arrowExpand {
		border-left: solid 1px #e1dfdf;
		border-top: solid 1px #e1dfdf;
	}

	.arrowCollapse{
		border-left: solid 1px #e1dfdf;
		border-bottom: solid 1px #e1dfdf;
	}

	ul.deckMenu li {
		width: 50%;
		padding: 0;
		margin: 0;
		display: inline-block;
	}

	.sliderNav { display: none; }

	.openDeckMenu{
		margin-top: -30px;
		height: 134px;
	}
}
.controls {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  margin:0px auto;
}
#slider{
    margin-left:auto !important;
    margin-right:auto !important;
    width:80%;
}

#slider{

	border-radius: 25px;
    height: 5px;
    box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5),
    				  0 1px 0 0px rgba(250, 250, 250, .5);
}

a.ui-slider-handle.ui-state-default.ui-corner-all{
	width: 14px;
	height: 14px;
}
/********** add cards UI (start) *************/
.emptySlider h3{
	text-align: center;
	padding: 2.75em 0;
}
/* important is necesary becuase I'm overriding the padding
   of an ID selector */
.editCardMode{
	padding-bottom: 0 !important;
	text-align: right;
}

.centerDiv-desktop{
	max-width: 75%;
	text-align: center;
	margin:0 auto;
}

.editFields{
	text-align: left;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

	.editFields h2{
		border-bottom: 1px solid #CCCCCC;
	    margin-bottom: 0.5em;
	    padding-bottom: 0.15em;
	    font-family: 'Vollkorn',Times,serif;
	}

fieldset {
	margin-bottom: 0.5em;
}

.formEle
, input[type=text]{
	width: 98%;
	display: block;
	height: 1.3125em;
	padding: 0.5em 1%;
	margin-bottom: 0.75em;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}

.editCardMode button{
	margin: 0.45em 0;
	color: #F3F3F1;
	text-shadow: 0 1px 0 #295989;
	border: 0;
	border-radius: 0.3em;

}

	.editCardMode button:hover{
		background: #4C4C4C;
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4C4C4C), to(#303030));
		background-image: -webkit-linear-gradient(top, #4C4C4C, #303030);
		background-image:    -moz-linear-gradient(top, #4C4C4C, #303030);
		background-image:     -ms-linear-gradient(top, #4C4C4C, #303030);
		background-image:      -o-linear-gradient(top, #4C4C4C, #303030);
		cursor: pointer;

	}

.saveBtn{
	color: #FFF;
	background: #4E84C4;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4E84C4), to(#4075b3));
	background-image: -webkit-linear-gradient(top, #4E84C4, #4075b3);
	background-image:    -moz-linear-gradient(top, #4E84C4, #4075b3);
	background-image:     -ms-linear-gradient(top, #4E84C4, #4075b3);
	background-image:      -o-linear-gradient(top, #4E84C4, #4075b3);
}

.cancelBtn{
	color: #333;
	background: #CCC;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCC), to(#D3D3D3));
	background-image: -webkit-linear-gradient(top, #CCC, #D3D3D3);
	background-image:    -moz-linear-gradient(top, #CCC, #D3D3D3);
	background-image:     -ms-linear-gradient(top, #CCC, #D3D3D3);
	background-image:      -o-linear-gradient(top, #CCC, #D3D3D3);
}

.deleteBtn{
	color: #FFF;
	background: #A51C30;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A51C30), to(#8a1526));
	background-image: -webkit-linear-gradient(top, #A51C30, #8a1526);
	background-image:    -moz-linear-gradient(top, #A51C30, #8a1526);
	background-image:     -ms-linear-gradient(top, #A51C30, #8a1526);
	background-image:      -o-linear-gradient(top, #A51C30, #8a1526);
}

/********** add cards UI (end) *************/

@media screen and (min-width: 320px) and (max-width: 768px){
	.hidden-mobile { display: none !important; }
}

