{% extends "__layout_left_sidebar.html" %}

{% block sidebar_content %}
	{% include "_collection_nav.html" with nav_collections=nav_collections active_collection=collection %}
{% endblock %}

{% block main_content %}
<div id="content" data-module="collections-edit">
    <div class="courseWrapper">
        <div class="courseHeader">
            <h2>Edit Collection</h2>
        </div>

        {{ collection_form.non_field_errors }} 

        <form action="{% url 'collectionEdit' collection.id %}?collection_id={{ collection.id }}" method="post">{% csrf_token %}
            <p>
                {{ collection_form.title.errors }}
                <label for="id_title">Title:</label>
                {{ collection_form.title }}
            </p>
            <p>
                {{ collection_form.card_template.errors }}
                <label for="id_card_template">Template:</label>
                {{ collection_form.card_template }}
                <div class="form-help">Note: changing the template will NOT impact existing flashcards. It will only change how new flashcards are created.</div>
            </p>

            {% comment "Commented out because public/private needs to be reworked for canvas -abarrett 9/4/14 %}
            <p> {{ collection_form.private.errors }} 
            <label for="id_private">Private:</label> 
            {{ collection_form.private }} </p> 
            {% endcomment %}

            <p>
                <label for="sortable-decks">Deck Order:</label>
                <div class="form-help">Drag and drop to reorder the list of decks below. Click <i>Submit</i> to save.</div>
                {{ collection_form.errors.deck_order }} 
                {% if collection_decks|length > 0 %}
                    <ul id="sortable-decks">
                        {% for deck in collection_decks %}
                            <li data-deck-id="{{deck.id}}"><i class="fa fa-bars" style="margin-right: 10px"></i> {{ deck.title|truncatechars:40}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <input type="hidden" id="deck_order" name="deck_order" value="{}" />
            </p>

            <input class="adminMenuBtn saveBtn" type="submit" value="Submit" />
            <a href="{% url 'collectionIndex' collection.id %}" class="adminMenuBtn cancelBtn">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
