{% extends "__layout_left_sidebar.html" %}

{% block sidebar_content %}
	{% include "_collection_nav.html" with nav_collections=nav_collections active_collection=collection %}
{% endblock %}

{% block main_content %}
<div id="content" data-module="collections-edit">
    <div class="courseWrapper">
        <div class="courseHeader">
            <h2>Edit course</h2>
        </div>
        <form action="{% url 'collectionEdit' collection.id %}?collection_id={{ collection.id }}" method="post">{% csrf_token %}
            <p>
                {{ collection_form.title.errors }}
                <label for="id_title">Title:</label>
                {{ collection_form.title }}
            </p>
            <p>
                {{ collection_form.card_template.errors }}
                <label for="id_card_template">Template:</label>
                {{ collection_form.card_template }}
                <div class="form-help">Note: changing the template will NOT impact existing flashcards. It will only change how new flashcards are created.</div>
            </p>

            {% comment "Commented out because public/private needs to be reworked for canvas -abarrett 9/4/14 %}
            <p> {{ collection_form.private.errors }} 
            <label for="id_private">Private:</label> 
            {{ collection_form.private }} </p> 
            {% endcomment %}

            <div id="sortable-decks-label">Reorder decks (drag & drop):</div>
            <ul id="sortable-decks">
                {% for current_collection in nav_collections %}
                    {% if current_collection.id == collection.id %}
                        {% if current_collection.decks|length > 0 %}
                            {% for deck in current_collection.decks %}
                                <li data-deck-id="{{deck.id}}">{{ deck.title|truncatechars:30}}</li>
                            {% endfor %}
                        {% endif %}  
                    {% endif %}
                {% endfor %}
            </ul>
            <input type="hidden" id="deck_order" name="deck_order" value="{}" />

            <input class="adminMenuBtn saveBtn" type="submit" value="Submit" />
            <a href="{% url 'collectionIndex' collection.id %}" class="adminMenuBtn cancelBtn">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
