{% extends "__layout_left_sidebar.html" %}

{% block sidebar_content %}
    {% include "_collection_nav.html" with nav_collections=nav_collections active_collection=active_collection %}
{% endblock %}

{% block main_content %}
<div id="content" data-module="collections-index">
    {% if not active_collection %}
        {% if user.is_authenticated %}
            <a href="{% url 'collectionCreate' %}" id="addAcourse">Add Collection</a>
        {% endif %}
    {% endif %}

    <ul class="accordion">
    {% for collection in display_collections %}
        <li>
        {% include "_collection_view.html" with collection=collection user_collection_role=user_collection_role %}
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
