{% extends "__layout_left_sidebar.html" %}

{% block sidebar_content %}
    {% include "_collection_nav.html" with nav_collections=nav_collections active_collection=active_collection %}
{% endblock %}

{% block breadcrumbs %}
{% if active_collection %}
	<li><i class="fa fa-angle-right"></i><a href="{% url 'collectionIndex' active_collection.id %}">{{ active_collection.title }}</a></li>
{% endif %}
{% endblock %}

{% block main_content %}
<div id="content" data-module="collections-index">
    {% if not active_collection %}
		{% comment %}Only show  the "Add Collection" on the index screen{% endcomment %}
        {% if user.is_authenticated %}
            <div class="hidden-mobile">
                <a href="{% url 'collectionCreate' %}" id="addAcourse">Add Collection</a>
            </div>
        {% endif %}
    {% endif %}

    {% if display_collections.num_collections > 0 %}
        <ul class="adminMenu adminMenuRight">
            <li>
                <div class="form-input">
                <select id="collection_type" name="collection_type">
                <option value="">---------</option>
                <option value="1" selected="selected">All Collections</option>
                <option value="2">Course Collections Only</option>
                <option value="3">My Private Collections Only</option>
                </select>
                </div>
            </li>
            <li>
                <button type="button" class="adminMenuBtn" id="expandCollapseAllBtn"><i class="plusminus fa fa-plus-circle"></i> <span>Expand All</span></button>
            </li>
            <li>
                <a class="adminMenuBtn hidden-mobile" href="https://wiki.harvard.edu/confluence/display/FLASHCARDS/Introduction" target="_blank"><i class="fa fa-question-circle"></i> Help</a>
            </li>
        </ul>
        <div class="clear"></div>
		
		{% if active_collection %}
			<div id="course_coll">
				<ul class="accordion" style="margin-top: .5em">
					<li>
					{% include "_collection_view.html" with is_teacher=is_teacher collection=active_collection user_collection_role=user_collection_role current_collection_id=active_collection.id %}
					</li>
				</ul>
			</div>
		{% else %}
			{% for display_group in display_collections.groups %}
				<div id="course_coll">
					<div class="courseHeader"><h3>{{display_group.label}} ({{display_group.num_collections}})</h3></div>
					{% if is_teacher %}
						<div>There are {{display_group.num_published}} published collections and {{display_group.num_unpublished}} unpublished collections.</div>
					{% endif %}
					<ul class="accordion" style="margin-top: .5em">
					{% for collection in display_group.collections %}
						<li>
						{% include "_collection_view.html" with is_teacher=is_teacher collection=collection user_collection_role=user_collection_role current_collection_id=active_collection.id %}
						</li>
					{% endfor %}
					</ul>
				</div>			
			{% endfor %}
		{% endif %}
	{% else%}
		<div>No collections to display.</div>
	{% endif %}
</div>

<div id="addAcourseDialog" style="display:none" title="Add Collection">
    <ul class="addACourseContent">
        <li>
            <h2>Add a New Collection</h2>
            <div><a href="{% url 'collectionCreate' %}" class="adminMenuBtn">Add a New Collection</a></div>
        </li>
        <li>
            <h2>Custom Import</h2>
            <div><a href="{% url 'collectionCustom' %}" class="adminMenuBtn">Import Collection</a></div>
        </li>
        <li>
            <h2>Duplicate From Existing Collection</h2>
            <div>
                {% if copy_collections|length > 0 %}
                <form action="{% url 'collectionCopy' %}" method="post">{% csrf_token %}
                    <select name="collection_id" style="width: 100%">
                    {% for collection in copy_collections %}
                        <option value="{{ collection.id }}">{% if collection.course_name_short %}{{collection.course_name_short}}: {% endif %}{{ collection.title }}</option>
                    {% endfor %}
                    </select>
                    <input style="margin-top: .5em" class="adminMenuBtn" type="submit" value="Add Collection"/>
                </form>
                {% else %}
                No collections available to duplicate.
                {%endif %}
            </div>
        </li>
    </ul>
</div>
{% endblock %}
