{% extends "__layout_left_sidebar.html" %}

{% block sidebar_content %}
    {% include "_collection_nav.html" with nav_collections=nav_collections active_collection=active_collection %}
{% endblock %}

{% block breadcrumbs %}
{% if active_collection %}
	<li><i class="fa fa-angle-right"></i><a href="{% url 'collectionIndex' active_collection.id %}">{{ active_collection.title }}</a></li>
{% endif %}
{% endblock %}

{% block main_content %}
<div id="content" data-module="collections-index">
    {% if not active_collection %}
        {% if user.is_authenticated %}
            <div class="hidden-mobile">
                <a href="{% url 'collectionCreate' %}" id="addAcourse">Add Collection</a>
            </div>
        {% endif %}
    {% endif %}

    {% if display_collections|length > 0 %}
        <ul class="adminMenu adminMenuRight">
            <li>
                <button type="button" class="adminMenuBtn" id="expandCollapseAllBtn"><i class="plusminus fa fa-plus-circle"></i> <span>Expand All</span></button>
            </li>
            <li>
                <a class="adminMenuBtn hidden-mobile" href="{% url 'help' %}"><i class="fa fa-question-circle"></i> Help</a>
            </li>
        </ul>
        <div class="clear"></div>
        <ul class="accordion" style="margin-top: .5em">
        {% for collection in display_collections %}
            <li>
            {% include "_collection_view.html" with collection=collection user_collection_role=user_collection_role %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</div>

<div id="addAcourseDialog" style="display:none" title="Add Collection">
    <ul class="addACourseContent">
        <li>
            <h2>Add a New Collection</h2>
            <div><a href="{% url 'collectionCreate' %}" class="adminMenuBtn">Add a New Collection</a></div>
        </li>
        <li>
            <h2>Custom Import</h2>
            <div><a href="{% url 'collectionCustom' %}" class="adminMenuBtn">Import Collection</a></div>
        </li>
        <li>
            <h2>Duplicate From Existing Collection</h2>
            <div>
                {% if copy_collections|length > 0 %}
                <form action="{% url 'collectionCopy' %}" method="post">{% csrf_token %}
                    <select name="collection_id" style="width: 100%">
                    {% for collection in copy_collections %}
                        <option value="{{ collection.id }}">{{ collection.title }}</option>
                    {% endfor %}
                    </select>
                    <input style="margin-top: .5em" class="adminMenuBtn" type="submit" value="Add Collection"/>
                </form>
                {% else %}
                No collections available to duplicate.
                {%endif %}
            </div>
        </li>
    </ul>
</div>
{% endblock %}
