{% extends "__layout_left_sidebar.html" %}

{% block sidebar_content %}
{% include "_collection_nav.html" with nav_collections=nav_collections active_collection=collection %}
{% endblock %}

{% block main_content %}
<div id="content">
    <div class="courseWrapper">
        <div class="courseHeader">
            <h2>Share course</h2>
        </div>
        <form class="js-share" action="{% url 'collectionShare' collection.id %}?collection_id={{ collection.id }}" method="post">{% csrf_token %}
            <p>
                {{ share_form.title.errors }}
                <label for="id_title">Collection Title:</label>
                {{ collection.title }}
            </p>
            {% if secret_share_key %}
            <p>                                                                                                                                                                                
                <label for="id_link">Share this link:</label>
                <input class="sharelink" style="padding: 5px" value="{% if request.is_secure %}https{% else %}http{% endif %}://{{request.get_host}}{% url 'collectionShareValidate' secret_share_key=secret_share_key %}" readonly="readonly" size="100" onclick="this.select()" />
            </p> 
            <a href="{% url 'collectionShare' collection.id %}?collection_id={{collection.id}}" class="adminMenuBtn">Back to Share Course</a>
            <a href="{% url 'collectionIndex' collection.id %}" class="adminMenuBtn cancelBtn">Cancel</a>
            {% else %}
            <p>
                {{ share_form.exired_in.errors }}
                <label for="id_expiration">Link Expires:</label>
                {{ share_form.expired_in }}
            </p>
            <input class="adminMenuBtn saveBtn" type="submit" value="Submit" />
            <a href="{% url 'collectionIndex' collection.id %}" class="adminMenuBtn cancelBtn">Cancel</a>
            {% endif %}

        </form>
    </div>
</div>
{% endblock %}
